{% extends "base/base.html" %}
{% block content %}

{% include "base/header.html" %}
<style type="text/css">
    label {
        text-align: right;
        color: darkslategray;
        /* font-size-adjust: 0.45; */
        /* font-weight: 500; */
        /* font-size: small; */
    }

    /* .form-control { */
    /* text-transform: capitalize; */
    /* color: blue; */
    /* } */

    .col-form-label {
        font-size: 13px;
        /* font-weight: 500; */
        /* font-size-adjust: 0.45; */
    }
</style>


<div class="content-wrapper">
    <form action method="POST" autocomplete="off">
        {% csrf_token %}
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Add Meter Request</h1>
                    </div>
                    <div class="ml-auto">
                        <button type="submit" class="btn btn-success mr-1 "><i class="fal fa-save mr-1"
                                tabindex="-1"></i> <span style="font-size: 12px;">Save</span></button>
                        <a type="button" href="/meters" class="btn btn-danger"><i
                                class="fal fa-share-square mr-1"></i><span style="font-size: 12px;">Cancel</span></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <section class="col-lg-12 connectedSortable">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    Acquisition Information <span style="font-size: 12px;"><i>(All fields are
                                            required)</i></span>
                                </h3>
                            </div>
                            <div class="row g-0">
                                <div class="col">
                                    <div class="card-body">
                                        <input type="hidden" name="userid" maxlength="45" required="" id="id_userid"
                                            value="0">
                                        <input type="hidden" name="area" maxlength="45" required="" id="id_area"
                                            value="{{ area }}">
                                        <div class="form-group row">
                                            <label for="id_transactiondate"
                                                class="col-sm-2 col-form-label col-form-label-sm ">Transaction
                                                Date:</label>
                                            <div class="col">
                                                <input type="date" class="form-control form-control-sm"
                                                    id="id_transactiondate" name="transactiondate" data-mask datemask
                                                    value="{{ datetoday|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_brand" class="col-sm-2 col-form-label">RR Number:</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_rrnumber"
                                                    name="rrnumber" maxlength="145" placeholder="RR #"
                                                    style="text-transform: uppercase;">
                                            </div>
                                        </div>
                                        <input type="hidden" name="supplierid" id="id_supplierid">
                                        <div class="form-group row">
                                            <label for="id_supplier" class="col-sm-2 col-form-label">Supplier:</label>
                                            <div class="col-sm-10">
                                                <select class="form-control form-control-sm select2" id="id_supplier"
                                                    name="supplier" onchange="select_supplier()">
                                                    {% for row in mSupplier %}
                                                    <!-- {% if row == 0 %}
                                                    <option selected="selected" value="{{row.id}}" data-address="{{row.address}}">{{ row.suppliername }}</option>
                                                    {% else %} -->
                                                    <option value="{{row.id}}" data-address="{{row.address}}">
                                                        {{row.suppliername}}</option>
                                                    <!-- {% endif %} -->
                                                    {% endfor %}
                                                </select>
                                                <label class="col-form-label mr-2" id="lblAddress"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-lg-12 connectedSortable">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    Meter Information <span style="font-size: 12px;"><i>(All fields are
                                            required)</i></span>
                                </h3>
                            </div>
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="id_brandid"
                                                class="col-sm-3 col-form-label col-form-label-sm ">Brand:</label>
                                            <div class="col-sm-9">
                                                <select class="form-control form-control-sm select2" id="id_brandid"
                                                    name="brandid">
                                                    {% for row in mBrand %}
                                                    <option value="{{row.id}}">{{ row.brand }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div><a href="#" onclick="modal_brand()"><span style="font-size: 12px;">
                                                            Add
                                                            Brand</span></a></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_mtypeid" class="col-sm-3 col-form-label">Meter Type</label>
                                            <div class="col-sm-9">
                                                <select class="form-control form-control-sm select2" id="id_mtypeid"
                                                    name="mtypeid">
                                                    {% for row in mTypes %}
                                                    <option value="{{row.id}}">{{ row.metertype }}</option>
                                                    {% endfor %}
                                                </select>
                                                <a href="/meters"><span style="font-size: 12px;"> Add Meter
                                                        Type</span></a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_units" class="col-sm-3 col-form-label">Unit (pcs):</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_units"
                                                    name="units" placeholder="100" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_serialnos" class="col-sm-3 col-form-label">Serial No.
                                                Start:</label>
                                            <div class="col">
                                                <input type="number" class="form-control form-control-sm"
                                                    id="id_serialnos" name="serialnos" placeholder="0001" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="ml-auto">
                                                <button type="button" class="btn btn-success mr-1 "><i
                                                        class="fal fa-save mr-1" tabindex="-1"></i> <span
                                                        style="font-size: 12px;"> Add </span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <table id="tablex" class="table table-nowrap table-striped table-sm dtr-inline">
                                            <thead>
                                                <tr>
                                                    <th style="display: none;"></th>
                                                    <th>Brand</th>
                                                    <th>Type</th>
                                                    <th>Units</th>
                                                    <th>Serial No.</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </form>
</div>

<div class="modal fade" id="modal-brand">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">Meter Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="id_brand" name="brand"
                            placeholder="Enter meter brand" required>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success mr-1" onclick="brand_save()"><span
                                    style="font-size: 12px;"> Add
                                </span></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <table id="table_brand" class="table table-nowrap table-striped table-sm dtr-inline">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Brand</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let ssbrandUrl = "{% url 'ssbrand' %}";
    let brandsaveUrl = "{% url 'brandsave' %}";


    window.onload = function ()
    {
        $('.select2').select2();
        // $('#id_brand').editableSelect({ effects: 'fade' });
        // $('#id_metertype').editableSelect({ effects: 'fade' });
        // $('#id_ampheres').editableSelect({ effects: 'fade' });
        // $('#id_ampheres').editableSelect({ effects: 'fade' });

        $('#tablex').DataTable({
            // "scrollX": true,
            "searching": false,
            "processing": true,
            "info": false,
            'autoWidth': false,
            // "paging": true,
            "lengthChange": false,
            // "responsive": true,
            // "order": [1, "asc"],
            "columnDefs": [
                { "targets": [4], "className": "text-right" },
                // { "targets": [1], "visible": false },
            ],

        });

        select_supplier(0);

        function loadBrand()
        {
            $('#table_brand').DataTable({
                "searching": false,
                "processing": true,
                "stateSave": true,
                "info": false,
                "paging": true,
                "lengthChange": true,
                "autoWidth": false,
                "responsive": true,
                "columnDefs": [
                    { "targets": [0], "searchable": false, "orderable": false, "visible": true },
                ],
                "keys": true,
                "keys": { "blurable": false },
                "select": true,
                "select": {
                    "style": 'multi',
                    "selector": 'td:first-child',
                },
                "serverSide": true,
                "processing": true,
                "ajax": function (data, callback, settings)
                {
                    var sort_column_namex = data.columns[data.order[0].column].data.replace(/\./g, "__");
                    var direction = "";
                    if (data.order[0].dir == "desc") { direction = "-" };
                    $.get(ssbrandUrl, {
                        limit: data.length,
                        start: data.start,
                        filter: data.search.value,
                        order_by: direction + sort_column_namex
                    }, function (res)
                    {
                        callback({
                            recordsTotal: res.length,
                            recordsFiltered: res.length,
                            data: res.objects
                        });
                    });
                },
                columns: [
                    { "data": "id" },
                    { "data": "brand" },
                ]
            });
        }
        loadBrand();
    }

    function modal_brand(params)
    {
        $('#modal-brand').modal('show').draggable({ handle: ".modal-header" });
    }

    function brand_save(params)
    {
        var brand = $('#id_brand').val();
        $.ajax({
            url: brandsaveUrl,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: { brand: brand, },
            success: function (data)
            {
                if (data.msg == 'saved')
                {
                    loadBrand();
                    $('#modal-brand').modal('hide');
                }
            },
            error: function (e)
            {
                alert('err: brand_save');
            }
        });
    }





    function select_supplier(params)
    {
        var e = document.getElementById("id_supplier");
        if (params == '') params = e.selectedIndex
        var option = e.options[params];
        var attrs = option.attributes;
        var data = option.getAttribute("data-address");
        $('#id_supplierid').val(option.value);
        document.getElementById('lblAddress').innerHTML = data;
        // var e = document.getElementById("elementId");
        // var value = e.options[e.selectedIndex].value;
        // var text = e.options[e.selectedIndex].text;
    }

    // function auto_qty(params)
    // {
    //     var qty = 0;
    //     var num1 = $('#id_serialnos').val().split('-');
    //     var num2 = 0;
    //     // try {
    //     num2 = (parseFloat(num1[1]) - parseFloat(num1[0])) === 0 ? num1[0] : num2;
    //     // } catch (error) {
    //     //     num2 = num1;
    //     // }
    //     $('#id_units').val(num2);

    // }










</script>
{% endblock content %}