{% extends "base/base.html" %}

{% block content %}
{% include "base/header.html" %}

<div class="content-wrapper">
    <form action method="POST" autocomplete="off">
        {% csrf_token %}
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Edit Meter Request</h1>
                    </div>
                    <div class="ml-auto">
                        <button type="submit" class="btn btn-success btn-sm mr-1 "><i class="fal fa-save mr-1"
                                tabindex="-1"></i> <span style="font-size: 12px;"> Update</span></button>
                        <button type="button" onClick="javascript:history.go(-1)" class="btn btn-info btn-sm"><i
                                class="fal fa-share-square mr-1"></i><span
                                style="font-size: 12px;">Close</span></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-exclamation-triangle"></i>
                                Request Information <span style="font-size: 12px;"><i>(All fields are
                                        required)</i></span>
                            </h3>
                        </div>

                        <input type="hidden" name="id" min="0" id="id_id" value="{{ form.id }}">
                        <input type="hidden" name="active" min="0" id="id_active" value="{{ form.active }}">
                        <input type="hidden" name="userid" maxlength="45" id="id_userid" value="{{ form.userid }}">
                        <input type="hidden" name="created_at" maxlength="45" id="id_created_at"
                            value="{{ form.created_at }}">
                        <input type="hidden" name="area" maxlength="45" id="id_area" value="{{ form.area }}">

                        <div class="row g-0">
                            <div class="col">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="id_dateforwarded"
                                            class="col-sm-2 col-form-label col-form-label-sm ">Date:</label>
                                        <div class="col">
                                            <input type="date" class="form-control form-control-sm"
                                                id="id_dateforwarded" name="dateforwarded" data-mask datemask
                                                value="{{ form.dateforwarded|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_brand" class="col-sm-2 col-form-label">RR Number:</label>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-sm" id="id_rrnumber"
                                                name="rrnumber" maxlength="145" placeholder="RR #" required
                                                value="{{ form.rrnumber }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_brand" class="col-sm-2 col-form-label">Brand Name:</label>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-sm" id="id_brand"
                                                name="brand" maxlength="145" placeholder="Accura" required
                                                value="{{ form.brand }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_metertype" class="col-sm-2 col-form-label">Meter Type:</label>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-sm" id="id_metertype"
                                                name="metertype" placeholder="Electrical" required
                                                value="{{ form.metertype }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_serialnos" class="col-sm-2 col-form-label">Serial
                                            No's.:</label>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-sm" id="id_serialnos"
                                                name="serialnos" placeholder="0001-9999" required
                                                value="{{ form.serialnos }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_units" class="col-sm-2 col-form-label">Unit:</label>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-sm" id="id_units"
                                                name="units" placeholder="100" required value="{{ form.units }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

<script type="text/javascript">

    window.onload = function () { }





</script>
{% endblock content %}