

<script>
    let id = '{{ id }}';
    // alert(id);
    let tabledetails;


    // function load_serial_calibration_entry() {
    //     var id = $('#idmeterserials').val();
    //     window.location = "calibrate_meter/" + id + "/";
    // }


    // $('#table_meterdetails').DataTable({
    //     // "scrollX": true,
    //     "searching": false,
    //     "processing": true,
    //     "info": false,
    //     'autoWidth': false,
    //     // "paging": true,
    //     "lengthChange": true,
    //     // "responsive": true,
    //     // "order": [1, "asc"],
    //     "columnDefs": [
    //         { "targets": [4], "className": "text-right" },
    //         { "targets": [1], "visible": false },
    //     ],
    //     "dom": '<"top"i>rt<"bottom"flp><"clear">'

    // });

    function delete_serials(id)
    {
        var ok = confirm('Are you sure to delete this entry?');
        if (ok == true)
        {
            $.ajax({
                url: "",
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                contentType: false,
                data: { id: id, },
                success: function (data)
                {
                    if (data == 'deleted')
                    {
                        window.location.reload();
                    }
                },
                error: function (e)
                {
                    Swal.fire('Error!', e, 'warning');
                }
            });
        }
    }


    // function print_report(id) {
    //     window.location = "meter_test_report.html";
    // }


</script>