{% extends "base/base.html" %}
{% load static %}
<!-- {% block header %}
{% include 'base/header.html' %}
{% endblock header %} -->
{% block content %}

<style type="text/css">
    label {
        text-align: right;
        color: darkslategray;
        font-size-adjust: 0.45;
    }

    btn-txt-sm {
        font-size-adjust: 0.45;
        font-size: 12px;
    }
</style>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-2 mr-2">
                </div>
                <div class="ml-auto">
                    <button type="button" onclick="return_selectedTable()" class="btn btn-warning"><i
                            class="fas fa-clipboard-list-check mr-1"></i><span style="font-size: small">Return
                            Meters</span></button>
                    <a href="calibrate_multiple" type="button" class="btn btn-info"><i class="fa fa-cog mr-1"></i><span
                            style="font-size: small">Multiple Calibration</span></a>
                    <a href="/meters" type="button" class="btn btn-danger"><i class="fal fa-times mr-1"></i><span
                            style="font-size: small">Back</span></a>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="row">
                <section class="col-lg-6 connectedSortable">
                    <div class="card">
                        <div class="card-body">
                            <!-- style="max-width: 500px !important; width: 500px !important" -->
                            <table id="table_meterdetails" class="table table-nowrap table-striped dtr-inline">
                                <thead>
                                    <tr>
                                        <th data-sort-class="leftmost" style="width: 20px;"><input type="checkbox"
                                                id="select_all" onchange="select_all()"><label
                                                for="select_all"><span></span></label></th>
                                        <th>Actions</th>
                                        <th>Status</th>
                                        <th style="width: 220px;">Brand</th>
                                        <th style="width: 120px;"> Serial No.</th>
                                        <th>Accuracy</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="col-lg-6 connectedSortable">
                    <div id="meter-history"></div>
                </section>

            </div>
        </section>
    </div>
</div>

<script type="text/javascript">



    let table
    window.onload = function ()
    {
        function load_meterdetails()
        {
            table = $('#table_meterdetails').DataTable({
                "scrollX": true,
                "searching": false,
                "info": false,
                "lengthChange": true,
                "keys": true,
                "keys": { "blurable": false },
                "columnDefs": [
                    { "targets": [0], "searchable": false, "orderable": false, "visible": true }, // "className": "select-checkbox icheck-primary",
                    // { "targets": [1], "visible": false },
                    // { "targets": [6], "className": "text-left" }
                ],
                "select": true,
                "select": {
                    "style": 'multi',
                    "selector": 'td:first-child',
                },
                "serverSide": true,
                "processing": true,
                "ajax": function (data, callback, settings)
                {
                    var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
                    var direction = "";
                    if (data.order[0].dir == "desc") { direction = "-" };
                    $.get("{% url 'metersdetail' idmeters %}", {
                        limit: data.length,
                        start: data.start,
                        filter: data.search.value,
                        order_by: direction + sort_column_name
                    }, function (res)
                    {
                        callback({
                            recordsTotal: res.length,
                            recordsFiltered: res.length,
                            data: res.objects
                        });
                    });
                },
                columns: [
                    {
                        "data": "id", "render": function (data, type, row)
                        {
                            return '<td class="selected"><input type="checkbox" id="item_20" value="20"><label for="item_20"><span></span></label></td>'
                        }
                    },
                    {
                        "data": "wms_status", "render": function (data, type, row)
                        {
                            if (data == 2)
                            {
                                return '<span style="font-size: 12px;" title="Returned to warehouse"> Returned</span></a>'
                            } else
                            {
                                if (row["status"] >= 1)
                                {
                                    return '<a href="calibrate/' + row["id"] + '" class="btn btn-default btn-xs text-xs" title="Calibrate"> <span style = "font-size: 12px;"> Calibrated</span ></a>'
                                } else
                                {
                                    return '<a href="calibrate/' + row["id"] + '" class="btn btn-info btn-xs text-xs" title="Calibrate"> <span style = "font-size: 12px;"> Calibrate</span ></a>'
                                }
                            }
                        }
                    },
                    {
                        "data": "status", "render": function (data, type, row)
                        {
                            if (data == 1)
                            {
                                return '<span style="color: rgb(79, 139, 18);"> Passed</span>'
                            } else if (data == 2)
                            {
                                return '<span style="color: rgb(255, 0, 0);">Failed</span>'
                            } else
                            {
                                return '<span>Pending</span>'
                            }
                        }
                    },
                    { "data": "idmeters__brand" },
                    {
                        "data": "serialno", "render": function (data, type, row)
                        {
                            return '<td style="width: fit-content;">' + data + '</td>'
                        }
                    },
                    {
                        "data": "accuracy", "render": function (data, type, row)
                        {
                            if (data == "None")
                            {
                            } else
                            {
                                return data
                            }
                        }
                    },

                ],
                "fnInitComplete": function (oSettings, json)
                {
                    $('#table_meterdetails tbody tr:eq(0)').click();
                },
                // "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull)
                // {
                //     if (aData[5] == 1)
                //     {
                //         $('td', nRow).css('color', 'green');
                //     } else // if (aData[5] == 2)
                //     {
                //         $('td', nRow).css('color', 'red');
                //     }
                // },
            });
            // table.column(0).visible(false);
            // table.column(1).visible(false);
        }
        load_meterdetails();
        // table.columns.adjust().draw();

        $('#table_meterdetails tbody').on('click', 'tr', function ()
        {
            if ($(this).hasClass('selected'))
            {
                $(this).removeClass('selected');
            }
            else
            {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }

            var data = table.rows(this).data();
            var id = data[0]['id'];
            var idmeters = data[0]['idmeters'];
            var serials = data[0]['serialno'];
            change_table3_data(id, serials, idmeters);
        });

        $(window).bind('resize', function ()
        {
            $('#table_meterdetails').css('width', '100%');
            $('#table3').css('width', '100%');
        });

        $('#select_all').on('click', function ()
        {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        function change_table3_data(id = 0, serials = 0, idmeters = 0)
        {
            $.ajax({
                url: "{% url 'meterselected' %}",
                method: 'GET',
                type: 'GET',
                data: {
                    id: id,
                    serials: serials,
                    idmeters: idmeters
                },
                success: function (data)
                {
                    $("#meter-history").html(data);
                    $('#id_serial').html(serials);
                    $('#idmeterserials').val(id);
                },
                error: function (e)
                {
                    alert('err: meterdetails.html-202');
                }
            });
        } change_table3_data(id, 0);

    }


    // function return_selectedTable() {
    //     var itemcode, qty;
    //     var count = table.rows('.selected').count();
    //     if (count <= 0) return;
    //     var ok = confirm('Are you sure to return selected row(s) to warehouse?');
    //     if (ok == true) {
    //         data = table.rows('.selected').data();
    //         data.each(function (value, index) {
    //             if (value['status'] == "None" || value['status'] == null ) {
    //                 alert('Meter ' + value['serialno'] + " is not yet calibrated!")
    //             } else {
    //                 save_return_selectedTable(value['id'], value['serialno']);
    //             }
    //         });
    //     }
    // }

    // function save_return_selectedTable(id=0, serialno='') {
    //     $.ajax({
    //         url: "",
    //         method: 'GET',
    //         type: 'GET',
    //         data: { id: id, },
    //         success: function (data) {
    //              $.ajax({
    //                 success: function (data) {
    //                     table.ajax.reload(null, false);
    //                     msgalert("Returned", "Meter ["+ serialno +"] successfully returned to warehouse", 1);
    //                 },
    //                 error: function () {
    //                     alert('Err: save_return_selectedTable');
    //                 }
    //             });
    //         },
    //     });
    // }

</script>

{% endblock content %}