{% extends "base/base.html" %}
{% block content %}

{% include "base/header.html" %}
<style type="text/css">
    label {
        text-align: right;
        color: darkslategray;
        /* font-size-adjust: 0.45; */
        /* font-weight: 500; */
        /* font-size: small; */
    }

    /* .form-control { */
        /* text-transform: capitalize; */
        /* color: blue; */
    /* } */

    .col-form-label {
        font-size: 13px;
        /* font-weight: 500; */
        /* font-size-adjust: 0.45; */
    }
</style>


<div class="content-wrapper">
    <form action method="POST" autocomplete="off">
        {% csrf_token %}
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Add Meter Request</h1>
                    </div>
                    <div class="ml-auto">
                        <button type="submit" class="btn btn-success mr-1 "><i class="fal fa-save mr-1"
                                tabindex="-1"></i> <span style="font-size: 12px;">Save</span></button>
                        <a type="button" href="/meters" class="btn btn-danger"><i
                                class="fal fa-share-square mr-1"></i><span style="font-size: 12px;">Cancel</span></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    Request Information <span style="font-size: 12px;"><i>(All fields are
                                            required)</i></span>
                                </h3>
                            </div>
                            <div class="row g-0">
                                <div class="col">
                                    <div class="card-body">
                                        <input type="hidden" name="userid" maxlength="45" required="" id="id_userid"
                                            value="0">
                                        <input type="hidden" name="active" maxlength="45" required="" id="id_active"
                                            value="0">
                                        <input type="hidden" name="area" maxlength="45" required="" id="id_area"
                                            value="{{ area }}">
                                        <div class="form-group row">
                                            <label for="id_dateforwarded"
                                                class="col-sm-2 col-form-label col-form-label-sm ">Transaction
                                                Date:</label>
                                            <div class="col">
                                                <input type="date" class="form-control form-control-sm"
                                                    id="id_dateforwarded" name="dateforwarded" data-mask datemask
                                                    value="{{ datetoday|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_brand" class="col-sm-2 col-form-label">RR Number:</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_rrnumber"
                                                    name="rrnumber" maxlength="145" placeholder="RR #" style="text-transform: uppercase;">
                                            </div>
                                        </div>
                                        <input type="hidden" name="supplierid" id="id_supplierid">
                                        <div class="form-group row">
                                            <label for="id_supplier" class="col-sm-2 col-form-label">Supplier:</label>
                                            <div class="col">
                                                <select class="form-control form-control-sm select2" id="id_supplier"
                                                    name="supplier" onchange="select_supplier()">
                                                    {% for row in mSupplier %}
                                                    <option value="{{row.0}}" data-address="{{row.2}}">{{ row.1 }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                                <label class="col-form-label mr-2" id="lblAddress"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_brand" class="col-sm-2 col-form-label">Meter Brand:</label>
                                            <div class="col">
                                                <select class="form-control form-control-sm" id="id_brand" name="brand">
                                                    {% for row in mBrand %}
                                                    <option value="{{row.brand}}">{{ row.brand }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_metertype" class="col-sm-2 col-form-label">Meter
                                                Type:</label>
                                            <div class="col">
                                                <select class="form-control form-control-sm" id="id_metertype"
                                                    name="metertype">
                                                    {% for rows in mType %}
                                                    <option value="{{rows.metertype}}">{{ rows.metertype }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="id_ampheres" class="col-sm-2 col-form-label">Amphere
                                                Rating:</label>
                                            <div class="col">
                                                <select class="form-control form-control-sm" id="id_ampheres"
                                                    name="ampheres">
                                                    {% for rows in mAmp %}
                                                    <option value="{{rows.ampheres}}">{{rows.ampheres}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="id_units" class="col-sm-2 col-form-label">Unit (pcs):</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_units"
                                                    name="units" placeholder="100" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_serialnos" class="col-sm-2 col-form-label">Serial No.
                                                Start:</label>
                                            <div class="col">
                                                <input type="number" class="form-control form-control-sm"
                                                    id="id_serialnos" name="serialnos" placeholder="0001" required>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

<script>

    window.onload = function ()
    {
        // $('.select2').select2();
        // $('#id_brand').editableSelect({ effects: 'fade' });
        // $('#id_metertype').editableSelect({ effects: 'fade' });


    }

    function select_supplier(params)
    {
        var e       = document.getElementById("id_supplier");
        var option  = e.options[e.selectedIndex];
        var attrs   = option.attributes;
        var data    = option.getAttribute("data-address");
        $('#id_supplierid').val(option.value);
        document.getElementById('lblAddress').innerHTML = data;
        // var e = document.getElementById("elementId");
        // var value = e.options[e.selectedIndex].value;
        // var text = e.options[e.selectedIndex].text;
    }

    function auto_qty(params)
    {
        var qty = 0;
        var num1 = $('#id_serialnos').val().split('-');
        var num2 = 0;
        // try {
        num2 = (parseFloat(num1[1]) - parseFloat(num1[0])) === 0 ? num1[0] : num2;
        // } catch (error) {
        //     num2 = num1;
        // }
        $('#id_units').val(num2);

    }



    // $("input").bind("keydown", function (e)
    //     { //input type=id above
    //         $eventText = $('#serialnos');
    //         alert($eventText);
    //         if (e.keyCode == 38)
    //         {
    //             var text = $("#serialnos").val();
    //             var args = { 'serialnos': text };
    //             alert('asdf');
    //             // $.get("/voteup/", args).done(function (data)
    //             // {
    //             //     console.log("message: " + data);
    //             //     location.reload();
    //             // });
    //             return false;
    //         }
    //         if (e.keyCode == 40)
    //         {
    //             var text = $("#serialnos").val();
    //             var args = { 'serialnos': text };
    //             alert('asdf');
    //             // $.get("/votedown/", args).done(function (data)
    //             // {
    //             //     console.log("message: " + data);
    //             //     location.reload();
    //             // });
    //             return false;
    //         }
    //     });








</script>
{% endblock content %}