{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "base/header.html" %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 mr-2">
        </div>
        <div class="ml-auto ">
          <a href="add" type="button" class="btn btn-info btn-sm mb-2"><span style="font-size: 12px;"><i
                class="fal fa-plus mr-1"></i>Add Request</span></a>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <table id="table_meters" class="table table-nowrap table-striped table-hover">
                <thead>
                  <tr>
                    <th data-sort-column="" class="leftmost" style="width: 20px;"><input type="checkbox"
                        id="select_all"><label for="select_all"><span></span></label></th>
                    <th style="width: 60px;">Actions</th>
                    <th style="width: 120px;">Date</th>
                    <th>Brand</th>
                    <th>Serials</th>
                    <th>Meter Type</th>
                    <th>Qty</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
    </section>
  </div>
</div>


<script type="text/javascript">
  let table
  let mList = "{% url 'rrviews' %}";
  let mDelete = "{% url 'meters_delete' 0 %}";
</script>
<script src="{% static "js/meters.js" %}" type="text/javascript"></script>

{% endblock content %}