{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "base/header.html" %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 mr-2">
                    <div class="input-group-prepend" style="height: 40px;">
                        <button class="btn btn-sm btn-info dropdown-toggle lbl_status" data-toggle="dropdown"
                            style="height: 31px">
                            For Calibration
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="selected_status(0)"> Passed</a>
                            <a class="dropdown-item" href="#" onclick="selected_status(2)"> Failed</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="selected_status()"> All</a>
                        </div>
                    </div>
                </div>
                <div class="ml-auto ">
                    <button onclick="search_for_meter()" class="btn btn-info btn-sm mb-2">
                        <i class="fal fa-plus mr-2"></i>
                        <span style="font-size: small">
                            New Test
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <table id="table-test-history" class="table table-nowrap table-hover table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th data-sort-column="" class="leftmost">
                                            <input type="checkbox" id="select_all"><label
                                                for="select_all"><span></span></label>
                                        </th>
                                        <th style="width: 60px;">Action</th>
                                        <th>Findings.</th>
                                        <th>Gen. Average</th>
                                        <th>Serial No.</th>
                                        <th>Consumer</th>
                                    </tr>
                                </thead>
                            </table>
                </section>
            </div>
        </section>
    </div>
</div>

<!-- <script src="{% static " js/alert.js" %}"></script> -->
<script type="text/javascript">

    let tablez;
    let lbl_status = ['Passed', 'Failed', 'All'];

    // datatables
    let urlMeterTestDetails = "{% url 'testdetails' %}";
    let urlSerialSearch = "{% url 'search_for_meter' %}";
    let urlNewMeterTest = "{% url 'new' 0 %}";

    function selected_status(params)
    {
        $('.lbl_status').html(lbl_status[params]);

        // $("#tablez").dataTable().fnDestroy();
        Load_serials_table(params);
    }

    function Load_serials_table(params)
    {
        tablez = $('#table-test-history').DataTable({
            // "scrollX": true,
            "searching": true,
            // "stateSave": true,
            "info": true,
            "paging": true,
            // "lengthChange": true,
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                { "targets": [0], "searchable": false, "orderable": false, "visible": true, },
                // { "targets": [7], "className": "text-right" }
            ],
            "keys": true,
            "keys": { "blurable": false },
            "select": true,
            "select": {
                'style': 'single',
                'selector': 'td:first-child'
            },
            "processing": true,
            "serverSide": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(urlMeterTestDetails, {
                    status: params,
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_name
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                {
                    "data": "id", "render": function (data, type, row)
                    {
                        return '<td class="selected"><input type="checkbox" id="" value="20"><label for=""><span></span></label></td>'
                    }
                },
                {
                    "data": "id", "render": function (data, type, row)
                    {
                        return '<div class="input-group-prepend">' +
                            '  <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">Action </button>' +
                            '    <div class="dropdown-menu">' +
                            '      <a class="dropdown-item" href="#" onclick=modal_calibration_update(' + row[0] + ')><i class="fal fa-tags mr-1"></i> Meter Calibration Update</a>' +
                            '      <a class="dropdown-item" href="#" onclick="modal_assign(' + row[0] + ')"><i class="fal fa-user-tag mr-1"></i> Assign this meter</a>' +
                            '      <div class="dropdown-divider"></div>' +
                            '      <a class="dropdown-item" href="print_test/' + row[0] + '" ><i class="fal fa-print mr-1"></i> Print Test Report</a>' +
                            '    </div>' +
                            '  </div >'
                    }
                },
                //
                { "data": "gen_average" },
                {
                    "data": "2", "render": function (data, type, row)
                    {
                        return '<td style="width: fit-content;"> <a href="#" onclick="modal_details()" title="View Details">' + data + '</a></td>'
                    }
                },
                { "data": "serialno" },
                { "data": "consumer" },
                // { "data": "5" },
                // {
                //     "data": "6", "render": function (data, type, row)
                //     {
                //         return '<span style=""> ' + meterstatus[data] + '</span>'
                //     }
                // },
            ]
        });
        tablez.column(0).visible(false);
    }

    window.onload = function ()
    {

        Load_serials_table(0);

        $('#tablez tbody').on('click', 'tr', function ()
        {
            if ($(this).hasClass('selected'))
            {
                $(this).removeClass('selected');
            }
            else
            {
                tablez.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }


        });

    };

    function search_for_meter(params)
        {
            Swal.fire({
                text: 'Search for Meter Serial',
                content: "input",
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Search',
                showLoaderOnConfirm: true,
                preConfirm: (serial) =>
                {
                    $.ajax({
                        url: urlSerialSearch, // get the route value
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        contentType: false,
                        data: { serial: serial, },
                        success: function (response)
                        {
                            if (response == '')
                            {
                                Swal.fire("Record not found!", response, "error");
                            } else
                            {
                                $('#id_idmeterserials').val(response[0][0]);
                                $('#id_meterserialno').val(response[0][3]);
                                $('#lblName').html(response[0][1]);
                                $('#lblAddress').html(response[0][2]);
                                $('#id_brand').val(response[0][6]);
                                window.open(urlNewMeterTest.replace('0', response[0][3]), "_self");
                                Swal.fire(response[0][1], response[0][2], "success");
                                // window.open(mMultiUrl.replace('0', selectedmeterid), "_self");
                            }
                        },
                        error: function (respose)
                        {
                            Swal.fire('Not Found.', response, 'error')
                        }
                    });
                    // return fetch(urlSerialSearch.replace('0', serial))
                    //     .then(response =>
                    //     {
                    //         if (!response.ok)
                    //         {
                    //             throw new Error(response.statusText)
                    //         }
                    //         return response.json()
                    //     })
                    //     .catch(error =>
                    //     {
                    //         Swal.showValidationMessage(
                    //             `Request failed: ${ error }`
                    //         )
                    //     })
                },
                allowOutsideClick: () => !Swal.isLoading()
            });
        }



</script>


{% endblock content %}