{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "base/header.html" %}

<style type="text/css">
  /* .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  } */
  .mlabel {
    text-align: right;
    font-size: 12px;
  }
</style>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="ml-auto ">
          <a href="#" type="button" onclick="modal_acquisition()" class="btn btn-info mb-2"
            title="Meter Acquisition"><span style="font-size: 12px;"><i class="fad fa-plus-hexagon mr-1"></i>New Meter
              Acquisition</span></a>
          <a href="#" type="button" onclick="modal_acquisition(1)" class="btn btn-info mb-2 ml-2"
            title="Meter Seal Acquisition"><span style="font-size: 12px;"><i class="fad fa-plus-hexagon mr-1"></i>New
              Seal Acquisition</span></a>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="row">
        <section class="col-lg-12 connectedSortable ui-sortable">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#meter" role="tab"
                    aria-controls="custom-tabs-meter" aria-selected="true"><i
                      class="fal fad fa-books-medical mr-2"></i>Meter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#seal" role="tab" aria-controls="custom-tabs-seal"
                    aria-selected="false"><i class="fal fa-solid fa-lasso mr-2"></i>Meter Seal</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="meter" role="tabpanel" aria-labelledby="custom-tabs-meter">
                  <table id="acqTable" class="table table-nowrap table-striped table-sm ">
                    <thead>
                      <tr>
                        <th data-sort-column="" class="leftmost" style="width: 20px;"><input type="checkbox"
                            id="select_all"><label for="select_all"><span></span></label></th>
                        <th>Actions</th>
                        <th>Date</th>
                        <th>RR Number</th>
                        <th>Supplier</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tab-pane fade" id="seal" role="tabpanel" aria-labelledby="custom-tabs-seal">
                  <table id="acqTable_mSeal" class="table table-nowrap table-striped table-sm">
                    <thead>
                      <tr>
                        <th data-sort-column="" class="leftmost" style="width: 20px;"><input type="checkbox"
                            id="select_all"><label for="select_all"><span></span></label></th>
                        <th style="width: 120px;">Actions</th>
                        <th style="width: 120px;">Date</th>
                        <th>Supplier</th>
                        <th>Address</th>
                        <th>RR Number</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>

<div class="modal fade" id="modal-acquisition">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title">Acquisition Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}

        <input type="hidden" name="acqtype" id="id_acqtype" value="0">
        <input type="hidden" name="userid" id="id_userid" value="{{ request.user.id }}">
        <input type="hidden" name="area" maxlength="45" required="" id="id_area" value="{{ area }}">
        <div class="form-group row">
          <label for="id_transactiondate" class="col-sm-3 col-form-label col-form-label-sm">Transaction
            Date:</label>
          <div class="col">
            <input type="date" class="form-control form-control-sm" id="id_transactiondate" name="transactiondate"
              data-mask datemask value="{{ datetoday|date:'Y-m-d' }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_brand" class="col-sm-3 col-form-label">RR Number:</label>
          <div class="col">
            <select class="form-control form-control-sm dropdown-list-rrnumber" id="id_rrnumber" name="rrnumber"
              onchange="select_rrnumber()"></select>
          </div>
        </div>
        <input hidden name="supplierid" id="id_supplierid">
        <div class="form-group row">
          <label for="id_supplier" class="col-sm-3 col-form-labe">Supplier:</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm dropdown-list-suppliers" id="id_supplier" name="supplier"
              onchange="select_supplier()"></select>
            <span hidden class="col-form-label mr-2 ml-2" id="lblSupplierName"></span>
            <span class="col-form-label mr-2 ml-2" id="lblAddress"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-left">
        <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="acquisition_save()"><i
            class="fal fa-save mr-1"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-acquisition_edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title">Modify Acquisition Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="id_transactiondate" class="col-sm-3 col-form-label col-form-label-sm mlabel">Transaction
            Date:</label>
          <div class="col">
            <input type="date" class="form-control form-control-sm" id="id_transactiondate" name="transactiondate"
              data-mask datemask value="{{ datetoday|date:'Y-m-d' }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_brand" class="col-sm-3 col-form-label mlabel">RR Number:</label>
          <div class="col">
            <select class="form-control form-control-sm dropdown-list-rrnumbers" id="id_rrnumber" name="rrnumber"
              onchange=""></select>
          </div>
        </div>
        <input type="hidden" name="supplierid" id="id_supplierid">
        <div class="form-group row">
          <label for="id_supplier" class="col-sm-3 col-form-label mlabel">Supplier:</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm select2" id="id_supplier" name="supplier"
              onchange="select_supplier()">
              {% for row in mSupplier %}
              {% if row == 0 %}
              <option selected="selected" value="{{row.id}}" data-address="{{row.address}}">{{ row.suppliername }}
              </option>
              {% else %}
              <option value="{{row.id}}" data-address="{{row.address}}">
                {{row.suppliername}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <span class="col-form-label mr-2" id="lblAddress"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-left">
        <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="acquisition_save()"><i
            class="fal fa-save mr-1"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let acqTable;
  let acqListUrl = "{% url 'acqList' %}";
  let acqAdd = "{% url 'acqadd' 0 %}";
  let acqSave = "{% url 'acqsave' %}";
  let acqEdit = "{% url 'acqedit' 0 %}";
  let acqDelete = "{% url 'acqdelete' 0 %}";

  let urlrrnumbers = "{% url 'rrnumbers' %}";
  let urlsrrnumbers = "{% url 'selected_rrnumber' %}";
  let urlsuppliers = "{% url 'suppliers' %}";
  let urlssuppliers = "{% url 'selected_supplier' %}";

  let urlresponse = "{% url 'acquisition_response' %}";


  // seal
  let acqAdds = "{% url 'acqadds' 0 %}";

  // window.onload = function ()
  // {
    // dropdownlist('Search Serial', '.dropdown-list-rrnumbers', urlrrnumbers);
  // }
</script>
<script src="{% static "js/acquisitions.js" %}"></script>
<script src="{% static "js/alert.js" %}"></script>

{% endblock content %}