{% extends "base/base.html" %}
{% load static %}
{% block content %}

{% include "base/header.html" %}
<style type="text/css">
    label {
        text-align: right;
        color: darkslategray;
    }

    .info {
        font-weight: bold;
        color: darkslategray;
        font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    }

    .col-form-label {
        font-size: 13px;
    }
</style>


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                    <h1>Add Meter Request</h1>
                </div> -->
                <div class="ml-auto">
                    <!-- <button type="submit" class="btn btn-success mr-1 "><i class="fal fa-save mr-1"
                                tabindex="-1"></i> <span style="font-size: 12px;">Save</span></button> -->
                    <a type="button" href="/acquisitions" class="btn btn-info"><i
                            class="fal fa-share-square mr-1"></i><span style="font-size: 12px;">Done</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <!-- <div class="container-fluid"> -->
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-check-circle"></i>
                            Seal Acquisition Information <span style="font-size: 12px;"><i></i></span>
                        </h3>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card-body">
                                <input type="hidden" name="id" maxlength="45" required="" id="id_id"
                                    value="{{ acq.id }}">
                                <input type="hidden" name="userid" maxlength="45" required="" id="id_userid" value="0">
                                <input type="hidden" name="area" maxlength="45" required="" id="id_area"
                                    value="{{ area }}">
                                <input type="hidden" name="supplierid" id="id_supplierid">

                                <div class="row">
                                    <p style="width: 150px; font-weight: bold;">Transaction Date : </p>
                                    <span class="ml-2">
                                        {{acq.transactiondate|date:'Y-m-d'}}
                                    </span><br>
                                </div>
                                <div class="row">
                                    <p style="width: 150px; font-weight: bold;">RR Number : </p>
                                    <span class="ml-2">
                                        {{acq.rrnumber}}
                                    </span><br>
                                </div>
                                <div class="row">
                                    <p style="width: 150px; font-weight: bold;">Supplier : </p>
                                    <span class="ml-2">
                                        {{acq.supplierid__suppliername}}, {{acq.supplierid__address}}
                                    </span><br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-12 connectedSortable">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-exclamation-triangle"></i>
                            Meter Information <span style="font-size: 12px;"><i>(All fields are
                                    required)</i></span>
                        </h3>
                    </div>

                    <div class="row g-0">
                        <div class="col-md-5">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="id_brandid"
                                        class="col-sm-3 col-form-label col-form-label-sm ">Brand:</label>
                                    <div class="col">
                                        <select class="form-control form-control-sm select2" id="id_brandid"
                                            name="brandid">
                                            {% for row in mBrand %}
                                            <option value="{{row.id}}">{{ row.brand }}</option>
                                            {% endfor %}
                                        </select>
                                        <div><a href="#" onclick="brand_modal()"><span style="font-size: 12px;"> Add
                                                    Brand</span></a></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="id_boxes" class="col-sm-3 col-form-label">Boxes:</label>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" onkeyup="getTotal()"
                                            style="text-align: right;" id="id_boxes" name="boxes" placeholder="0">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="id_ppb" class="col-sm-3 col-form-label">Pcs/Box:</label>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" onkeyup="getTotal()"
                                            style="text-align: right;" id="id_ppb" name="ppb" placeholder="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_ttl" class="col-sm-3 col-form-label">Total Pcs:</label>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" disabled="disabled"
                                            style="text-align: right;" id="id_ttl" name="ttl" placeholder="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_serialnos" class="col-sm-3 col-form-label">Serial No.
                                        Start:</label>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="id_serialnos"
                                            name="serialnos" placeholder="0001">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="ml-auto">
                                        <button type="button" onclick="seal_save()" class="btn btn-success mr-1 "><i
                                                class="fal fa-save mr-1" tabindex="-1"></i> <span
                                                style="font-size: 12px;"> Save
                                                Seal Info
                                            </span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <table id="tablex" class="table table-nowrap table-striped table-sm dtr-inline">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Actions</th>
                                            <th>Brand</th>
                                            <th>Boxes</th>
                                            <th>Pcs/Box</th>
                                            <th>Total Pcs</th>
                                            <th>Serial No.</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- </div> -->
    </section>
</div>

<div class="modal fade" id="modal-brand">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">Meter Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="id_brand" name="brand"
                            placeholder="Enter meter brand" required>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success mr-1" onclick="brand_save()"><span
                                    style="font-size: 12px;"> Add
                                </span></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <table id="table_brand" class="table table-nowrap table-striped table-sm dtr-inline">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th style="width: 80;">Action</th>
                                <th>Brand</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "others/loading.html" %}

<body onload="loadSeals()"></body>

<script type="text/javascript">

    let tablex, table_brands, table_types;
    let brandsUrl = "{% url 'brandss' %}";
    let brandsaveUrl = "{% url 'brandsave' %}";
    let branddelUrl = "{% url 'branddelete' %}";

    let sListUrl = "{% url 'sealss' %}";

    var id = '{{ acq.id }}';
    let msSaveUrl = "{% url 'sealssave' %}";
    let msDeleteUrl = "{% url 'sealsdelete' %}";

    $("#id_brandid").select2().val(1).trigger('change.select2');

    function loadSeals(params)
    {
        tablex = $('#tablex').DataTable({
            "searching": false,
            "info": false,
            "paging": true,
            "autoWidth": false,
            "columnDefs": [
                { "targets": [0], "searchable": false, "orderable": false, "visible": false },
                { "targets": [1, 5], "width": "14%", "orderable": false, "visible": true },
                { "targets": [5], "className": 'text-right', },
            ],
            "keys": true,
            "keys": { "blurable": false },
            "select": true,
            "select": {
                "style": 'multi',
                "selector": 'td:first-child',
            },
            "serverSide": true,
            "processing": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_namex = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(sListUrl, {
                    id: id,
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_namex
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                { "data": "0" },
                {
                    "data": "0", "render": function (data, type, row)
                    {
                        if ('{{ request.user.is_superuser }}' == 'True')
                        {
                            return '<center>' +
                                '<div class="btn-group">' +
                                '<a href="#" class="btn btn-warning btn-xs text-sm" title="Edit" ondblclick="meter_edit(' + data + ')"><i class="fas fa-pencil-alt"></i><span style="font-size: 12px;"> Edit</span></a>' +
                                '<a href="#" class="btn btn-danger btn-xs text-sm" title="Delete" onclick="seal_delete(' + data + ')" ><i class="fal fa-trash-alt"></i><span style="font-size: 12px;"></span></a>' +
                                '</div>' +
                                '</center>'
                        }
                        else
                        {
                            return '<center>' +
                                '<div class="btn-group">' +
                                '<a href="#" class="btn btn-warning btn-xs text-sm" title="Edit" ondblclick="meter_edit(' + data + ')"><i class="fal fa-pencil-alt"></i><span style="font-size: 12px;"> Edit</span></a>' +
                                '<a href="#" class="btn btn-danger btn-xs text-sm" title="Delete" onclick="seal_delete(' + data + ')" ><i class="fal fa-trash-alt"></i><span style="font-size: 12px;"></span></a>' +
                                '</div>' +
                                '</center>'
                        }
                    }
                },
                { "data": "1" },
                { "data": "2" },
                { "data": "3" },
                { "data": "4" },
                { "data": "5" },
            ],
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
    }

    function loadBrands()
    {
        table_brands = $('#table_brand').DataTable({
            "searching": false,
            "info": false,
            "paging": true,
            "autoWidth": false,
            "columnDefs": [
                { "targets": [0], "searchable": false, "orderable": false, "visible": false },
                { "targets": [1], "className": 'dt-body-left', "width": "20%", "orderable": false, "visible": true },
            ],
            "keys": true,
            "keys": { "blurable": false },
            "select": true,
            "select": {
                "style": 'multi',
                "selector": 'td:first-child',
            },
            "serverSide": true,
            "processing": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_namex = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(brandsUrl, {
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_namex
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                { "data": "id" },
                {
                    "data": "id", "render": function (data, type, row)
                    {
                        if ('{{ request.user.is_superuser }}' == 'True')
                        {
                            return '<center>' +
                                '<div class="btn-group">' +
                                '<a href="#" class="btn btn-warning btn-xs text-sm" title="Edit" onclick="brand_edit(' + row["id"] + ')"><i class="fas fa-pencil-alt"></i><span style="font-size: 12px;"> Edit</span></a>' +
                                '<a href="#" class="btn btn-danger btn-xs text-sm" title="Delete" onclick="brand_delete(' + row["id"] + ')" ><i class="fal fa-trash-alt"></i><span style="font-size: 12px;"></span></a>' +
                                '</div>' +
                                '</center>'
                        }
                        else
                        {
                            return '<center>' +
                                '<div class="btn-group">' +
                                '<a href="#" class="btn btn-warning btn-xs text-sm" title="Edit" onclick="brand_edit(' + row["id"] + ')"><i class="fal fa-pencil-alt"></i><span style="font-size: 12px;"> Edit</span></a>' +
                                '<a href="#" class="btn btn-danger btn-xs text-sm" title="Delete" onclick="brand_delete(' + row["id"] + ')" ><i class="fal fa-trash-alt"></i><span style="font-size: 12px;"></span></a>' +
                                '</div>' +
                                '</center>'
                        }
                    }
                },
                { "data": "brand" },
            ],
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
    }

    function brand_modal(params)
    {
        loadBrands();
        $('#modal-brand').modal('show').draggable({ handle: ".modal-header" });
    }

    function brand_save(params)
    {
        var brand = $('#id_brand').val();
        if (brand == null) return;
        $.ajax({
            url: brandsaveUrl,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: { brand: brand, },
            success: function (data)
            {
                if (data.msg == 'saved')
                {
                    msgAlert('Save', 'Successfully saved!', 1);
                    $('#table_brand').DataTable().ajax.reload(null, false);
                }
            },
            error: function (e)
            {
                alert('err: brand_save');
            }
        });
    }

    function brand_delete(params)
    {
        var ok = confirm('Are you sure to delete this record?');
        if (ok == true)
        {
            $.ajax({
                url: branddelUrl,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                contentType: false,
                data: { id: params, },
                success: function (data)
                {
                    if (data.msg == 'deleted')
                    {
                        msgAlert('Delete', 'Successfully deleted!', 3);
                        $('#table_brand').DataTable().ajax.reload(null, false);
                    }
                },
                error: function (e)
                {
                    alert('err: brand delete');
                }
            });
        }
    }

    function seal_save(params)
    {
        $('#modal-default').modal('show').draggable({ handle: ".modal-header" });
        var acquisitionid = $('#id_id').val();
        var brandid = $('#id_brandid').val();
        var boxes = $('#id_boxes').val();
        var ppb = $('#id_ppb').val();
        var total = $('#id_ttl').val();
        var serialnos = $('#id_serialnos').val();

        if (!total.trim()) return;
        if (!serialnos.trim()) return;


        var csrf = document.querySelector('[name="csrfmiddlewaretoken"]').value;

        $.ajax({
            url: msSaveUrl,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: { acquisitionid: acquisitionid, brandid: brandid, boxes: boxes, ppb: ppb, serialnos: serialnos, total: total },
            beforeSend: function (xhr)
            {
                xhr.setRequestHeader("X-CSRFToken", csrf);
            },
            success: function (data)
            {
                if (data.msg == 'saved')
                {
                    msgAlert('Save', 'Successfully saved!', 1);
                    $('#tablex').DataTable().ajax.reload(null, false);
                    hide_modal();
                }
            },
            error: function (e)
            {
                alert('err: brand_save');
                hide_modal();
            }
        });
    }

    function seal_delete(params)
    {
        var ok = confirm('Are you sure to delete this record?');
        if (ok == true)
        {
            $.ajax({
                url: msDeleteUrl,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                contentType: false,
                data: { id: params, },
                success: function (data)
                {
                    if (data.msg == 'deleted')
                    {
                        msgAlert('Delete', 'Successfully deleted!', 3);
                        $('#tablex').DataTable().ajax.reload(null, false);
                    }
                },
                error: function (e)
                {
                    alert('err: seal delete');
                },
            });
        }
    }

    function getTotal()
    {
        var ppb = $("#id_ppb").val();
        var boxes = $("#id_boxes").val();
        var total = boxes * ppb;
        $("#id_ttl").val(total);
    };

    $('#id_ppb').on('change keyup', function ()
    { // on change
        alert('asdf');
        getTotal(); // trigger this
    });

</script>

<script src="{% static "js/alert.js" %}"></script>

{% endblock content %}