{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include 'base/header.html' %}


<style type="text/css">
    label {
        text-align: right;
        color: darkslategray;
        font-size-adjust: 0.45;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>How to use!</h1>
                </div>
            </div>
    </section>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="timeline">
                        <div class="time-label">
                            <span class="bg-red">Jan. 31, 2022</span>
                        </div>
                        <!-- timeline item -->
                        <div>
                            <i class="fas fa-video bg-maroon"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fas fa-clock"></i></span>
                                <h3 class="timeline-header"><a href="#">Acquisition</a> shared a video</h3>

                                <div class="timeline-body">
                                    <div id="myVid" class="embed-responsive embed-responsive-16by9">
                                        <video playsinline controls class="embed-responsive-item">
                                            <source src="{% static "media/mis presentation.mp4" %}#t=15,20"  type="video/mp4" frameborder="0" allowfullscreen="" preload="metadata">
                                        </video>
                                    </div>
                                </div>
                                <div class="timeline-footer">
                                    <a href="#" class="btn btn-sm bg-maroon disabled" >See comments</a>
                                </div>
                                <!-- <button class="btn btn-sm bg-maroon" onclick="seek('1.51')">Home</button> -->
                            </div>
                        </div>
                        <!-- END timeline item -->
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<script>

    window.onload = function ()
    {
        document.getElementById("help").className = "nav-link active";
    }

    function seek(params) {
        let myVideo = document.getElementById("myVid");
        // myVideo.fastSeek(params);
        myVideo.currentTime = params;
    }

    // function seekToTime(ts)
    // {
    //     video_element.pause();
    //     video_element.currentTime = ts;
    //     var timer = setInterval(function ()
    //     {
    //         if (video_element.paused && video_element.readyState == 4 || !video_element.paused)
    //         {
    //             video_element.play();
    //             clearInterval(timer);
    //         }
    //     }, 50);
    // }

</script>
{% endblock content %}