{% load static %}

{% block header %}
{% include 'base/header.html' %}
{% endblock header %}

{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <!-- <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div> -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Good Meters</span>
              <span class="info-box-number" id="id_all_good">0</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Damage Meters</span>
              <span class="info-box-number" id="id_all_damage">0</span>
            </div>
          </div>
        </div>

        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Substandard Meters</span>
              <span class="info-box-number" id="id_all_substandard">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Rehab Meters</span>
              <span class="info-box-number" id="id_all_rehab">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">


          <!-- /.row -->

          <!-- TABLE: LATEST ORDERS -->
          <div class="card">
            <!-- <div class="card-header border-transparent"> -->
            <!-- <h3 class="card-title">Latest Orders</h3> -->

            <div class="card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#meter" role="tab"
                      aria-controls="custom-tabs-meter" aria-selected="true"><i
                        class="fal fad fa-books-medical mr-2"></i>Meter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#seal" role="tab" aria-controls="custom-tabs-seal"
                      aria-selected="false"><i class="fal fa-solid fa-lasso mr-2"></i>Meter Seal</a>
                  </li>
                  <div class="ml-auto card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="meter" role="tabpanel" aria-labelledby="custom-tabs-meter">
                  <!-- <div class="mailbox-controls">
                    <button class="btn btn-sm btn-info dropdown-toggle lbl_status" data-toggle="dropdown" style="height: 31px">
                      For Calibration
                    </button>
                  </div> -->
                  <table id="acqTable" class="table table-nowrap table-striped table-sm ">
                    <thead>
                      <tr>
                        <th style="width: 80px;">Date</th>
                        <th style="width: 120px;">RR Number</th>
                        <th>Supplier</th>
                        <th>Address</th>
                        <th></th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tab-pane fade" id="seal" role="tabpanel" aria-labelledby="custom-tabs-seal">
                  <table id="acqTable_mSeal" class="table table-nowrap table-striped table-sm">
                    <thead>
                      <tr>
                        <th style="width: 80px;">Date</th>
                        <th style="width: 120px;">RR Number</th>
                        <th>Supplier</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.card -->
            <!-- <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
              </div> -->
            <!-- /.card-footer -->
            <!-- </div> -->
          </div>

          <!-- /.card-body -->
          <!-- /.card -->
        </div>
        <!-- /.col -->

        <!-- /.col -->

        <div class="col-md-4">
          <p class="text-center">
            <strong>Calibration Status</strong>
          </p>

          <div class="progress-group">
            Good
            <span class="float-right"><b id="id_good">0</b></span>
            <div class="progress progress-sm">
              <div class="progress-bar bg-primary good" style="width: 80%"></div>
            </div>
          </div>

          <div class="progress-group">
            Damage
            <span class="float-right"><b id="id_damage">0</b></span>
            <div class="progress progress-sm">
              <div class="progress-bar bg-danger damage" style="width: 75%"></div>
            </div>
          </div>

          <div class="progress-group">
            <span class="progress-text">Substandard</span>
            <span class="float-right"><b id="id_substandard">0</b></span>
            <div class="progress progress-sm">
              <div class="progress-bar bg-success substandard" style="width: 60%"></div>
            </div>
          </div>

          <div class="progress-group">
            Rehab Meter
            <span class="float-right"><b id="id_rehab">0</b></span>
            <div class="progress progress-sm">
              <div class="progress-bar bg-warning  rehab" style="width: 50%"></div>
            </div>
          </div>

          <div class="progress-group">
            Total Calibrated
            <span class="float-right"><b id="id_notcalibrated">0</b></span>
            <div class="progress progress-sm">
              <div class="progress-bar bg-success notcalibrated" style="width: 0%"></div>
            </div>
          </div>
          <!-- /.progress-group -->
        </div>


      </div>
      <!-- /.row -->
      <div class="row">
        <!-- <div class="col-md-4"> -->
        <!-- Info Boxes Style 2 -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 bg-warning elevation-2">
            <span class="info-box-icon"><i class="fas fa-tag"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">For Calibration</span>
              <span class="info-box-number" id="id_all_for_calibration">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <!-- /.info-box -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 bg-success elevation-2">
            <span class="info-box-icon"><i class="far fa-heart"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Calibrated</span>
              <span class="info-box-number" id="id_all_calibrated">0</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 bg-danger elevation-2">
            <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Returned to Warehouse</span>
              <span class="info-box-number" id="id_all_returned">0</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 bg-info elevation-2">
            <span class="info-box-icon"><i class="far fa-comment"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Remaining Meters</span>
              <span class="info-box-number" id="id_all_remaining">0</span>
            </div>
          </div>
        </div>
        <!-- /.info-box -->


        <!-- /.card -->
        <!-- </div> -->
      </div>
      <!-- /.col -->

    </div>
    <!--/. container-fluid -->
  </section>
</div>
<aside class="control-sidebar control-sidebar-dark"></aside>

<script>
  let acqTable;
  let acqListUrl = "{% url 'acqList' %}";
  let acqAdd = "{% url 'acqadd' 0 %}";
  let acqSave = "{% url 'acqsave' %}";
  let acqEdit = "{% url 'acqedit' 0 %}";
  let acqDelete = "{% url 'acqdelete' 0 %}";

  let urlrrnumbers = "{% url 'rrnumbers' %}";
  let urlsrrnumbers = "{% url 'selected_rrnumber' %}";
  let urlsuppliers = "{% url 'suppliers' %}";
  let urlssuppliers = "{% url 'selected_supplier' %}";

  let urlresponse = "{% url 'acquisition_response' %}";
  let urlGetMeterDetails = "{% url 'get_meter_details' %}";
  let condition = ['Good', 'Damage', 'Substandard', 'Rehab'];

  let acqAdds = "{% url 'acqadds' 0 %}";

  window.onload = function ()
  {

    loadAcquisition(0);
    loadAcquisition(1);


    $('#acqTable tbody').on('click', 'tr', function (e, datatable, cell)
    {
      $('#acqTable').DataTable().rows('.selected').nodes().to$().removeClass();
      $(this).toggleClass('selected');

      var data = $('#acqTable').DataTable().row('.selected').data();
      load_calibratiion_status(data['id']);
    });

    load_all_status(0);
  };

  function loadAcquisition(params)
  {
    var tbl = "acqTable";
    if (params == 1) tbl = "acqTable_mSeal";
    acqTable = $('#' + tbl + '').DataTable({
      "searching": true,
      "processing": true,
      "stateSave": true,
      // "info": false,
      "paging": true,
      "lengthChange": true,
      "autoWidth": false,
      "responsive": true,
      // "columnDefs": [
      // { "targets": [0], "searchable": false, "orderable": false, "visible": true },
      // { "targets": [5], "className": "text-left" }
      // ],

      "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull)
      {
        if (aData['status'] == "1")
        {
          $('td', nRow).css('background-color', 'gray');
        }
      },
      "select": true,
      "select": {
        "style": 'single',
      },
      "serverSide": true,
      "processing": true,
      "ajax": function (data, callback, settings)
      {
        var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
        var direction = "";
        if (data.order[0].dir == "desc") { direction = "-" };
        $.get(acqListUrl, {
          acqtype: params,
          limit: data.length,
          start: data.start,
          filter: data.search.value,
          order_by: direction + sort_column_name
        }, function (res)
        {
          callback({
            recordsTotal: res.length,
            recordsFiltered: res.length,
            data: res.objects
          });
        });
      },
      columns: [
        { "data": "transactiondate" },
        { "data": "rrnumber" },
        { "data": "supplierid__suppliername" },
        // {
        //   "data": "transactiondate", "render": function (data, type, row)
        //   {
        //     return '<td>' +
        //       '<div class="progress progress-xs">' +
        //       '<div class="progress-bar progress-bar-danger" style="width: 10%"></div>' +
        //       '</div>' +
        //       '</td>'

        //   }
        // },
        { "data": "supplierid__address" },
        { "data": "id" },
      ],
      // "dom": '<"top"i>rt<"bottom"flp><"clear">',
    });
    acqTable.column(4).visible(false);
  }

  function load_all_status(params)
    {
      $.ajax({
        url: urlGetMeterDetails,
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        contentType: false,
        data: {
          id: params,
          action: 0,
        },
        success: function (response)
        {

          $('#id_all_good').html(0);
          $('#id_all_damage').html(0);
          $('#id_all_substandard').html(0);
          $('#id_all_rehab').html(0);

          $('#id_all_for_calibration').html(1);
          $('#id_all_calibrated').html(0);
          $('#id_all_returned').html(0);
          $('#id_all_remaining').html(0);

          // $('.good').attr('style', 'width: 0%');
          // $('.damage').attr('style', 'width: 0%');
          // $('.substandard').attr('style', 'width: 0%');
          // $('.rehab').attr('style', 'width: 0%');

          $.each(response.data, function (key, value)
          {
            if (value.metercondition == 0)
            {
              $('#id_all_good').html(value.cnt);
            }
            else if (value.metercondition == 1)
            {
              $('#id_all_damage').html(value.cnt);
            }
            else if (value.metercondition == 2)
            {
              $('#id_all_substandard').html(value.cnt);
            }
            else
            {
              $('#id_all_rehab').html(value.cnt);
            }

            $('#id_all_for_calibration').html(value.for_calibration);
            $('#id_all_calibrated').html(value.units - value.for_calibration);
            $('#id_all_returned').html(value.wms_returned);
            $('#id_all_remaining').html(value.units - value.wms_returned);
          });
          //m.id, metercondition, count(ms.id) cnt, m.units
          // $('#id_good').val()
          // alert(data.data);
        },
        error: function (e)
        {
          alert('err: ' + e);
        }
      });
    }


  function load_calibratiion_status(params)
  {
    $.ajax({
      url: urlGetMeterDetails,
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      contentType: false,
      data: {
        id: params,
        action: 1,
      },
      success: function (response)
      {
        // alert(response.data);
        if ( response.data == "" ) return;
        $('#id_good').html(0);
        $('#id_damage').html(0);
        $('#id_substandard').html(0);
        $('#id_rehab').html(0);
        $('.good').attr('style', 'width: 0%');
        $('.damage').attr('style', 'width: 0%');
        $('.substandard').attr('style', 'width: 0%');
        $('.rehab').attr('style', 'width: 0%');

        $.each(response.data, function (key, value)
        {
          if (value.metercondition == 0) {
            $('#id_good').html(value.cnt +'/'+ value.units);
            $('.good').attr('style', 'width: ' + (value.cnt / value.units) * 100 +'%');
          }
          else if (value.metercondition == 1)
          {
            $('#id_damage').html(value.cnt + '/' + value.units);
            $('.damage').attr('style', 'width: ' + (value.cnt / value.units) * 100 + '%');
          }
          else if (value.metercondition == 2)
          {
            $('#id_substandard').html(value.cnt + '/' + value.units);
            $('.substandard').attr('style', 'width: ' + (value.cnt / value.units) * 100 + '%');
          }
          else
          {
            $('#id_rehab').html(value.cnt + '/' + value.units);
            $('.rehab').attr('style', 'width: ' + (value.cnt / value.units) * 100 + '%');
          }
            $('#id_notcalibrated').html(value.units - value.for_calibration + '/' + value.units);
            $('.notcalibrated').attr('style', 'width: ' + ((value.units - value.for_calibration)/value.units)*100 + '%');

        });
        //m.id, metercondition, count(ms.id) cnt, m.units
        // $('#id_good').val()
        // alert(data.data);
      },
      error: function (e)
      {
        alert('err: ' + e);
      }
    });
  }


</script>

{% endblock content %}