{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "base/header.html" %}

<div class="content-wrapper">

    <div class="content-header">

        <!-- /.card -->
        <div class="card card-primary card-outline">
            <!-- <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Tabs Custom Content Examples
                </h3>
            </div> -->
            <div class="card-body">
                <!-- <h4 class="mt-5 ">Custom Content Above</h4> -->
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-content-above-home-tab" data-toggle="pill"
                            href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home"
                            aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-content-above-profile-tab" data-toggle="pill"
                            href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile"
                            aria-selected="false">History</a>
                    </li>
                </ul>
                <div class="tab-custom-content">
                    <!-- <p class="lead mb-0">Custom Content goes here</p> -->
                    <div class="input-group-prepend">

                        <div class="ml-auto ">

                        </div>
                    </div>
                </div>

                <div class="tab-content" id="custom-content-above-tabContent">
                    <div class="tab-pane fade" id="custom-content-above-home" role="tabpanel"
                        aria-labelledby="custom-content-above-home-tab">
                        <div class="mailbox-controls">
                            <button class="btn btn-sm btn-info dropdown-toggle lbl_status" data-toggle="dropdown"
                                style="height: 31px">
                                For Calibration
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="selected_status(0)"> For Calibration</a>
                                <a class="dropdown-item" href="#" onclick="selected_status(6)"> Calibration Repair</a>
                            </div>
                            <button type="button" class="btn btn-default btn-sm"><i
                                    class="fas fa-sync-alt"></i></button>
                            <div class="float-right">
                                <button onclick="modal_calibration_update_multiple()" class="btn btn-info btn-sm">
                                    <i class="fal fa-tasks mr-1"></i>
                                    <span style="font-size: small">
                                        Multiple Update
                                    </span>
                                </button>
                            </div>
                        </div>
                        <table id="tablez" class="table table-nowrap table-hover table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th style="width: 90px;">Action</th>
                                    <th>Serial No.</th>
                                    <th>Brand</th>
                                    <th>Type</th>
                                    <th>Amphere</th>
                                    <th>Accuracy</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane fade show active" id="custom-content-above-profile" role="tabpanel"
                        aria-labelledby="custom-content-above-profile-tab">
                        <div class="mailbox-controls">
                            <div class="row">
                                <div class="col-sm-4 mt-1">
                                    <button onclick="return_selected_meters()" class="btn btn-info btn-sm">
                                        <i class="fal fa-undo mr-1"></i><span style="font-size: small">Return
                                            Selected</span></button>
                                    <button onclick="custom_return()" class="btn btn-info btn-sm">
                                        <i class="fal fa-undo mr-1"></i><span style="font-size: small">Custom
                                            Return</span></button>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group row">
                                        <p class="col-form-label col-form-label-sm">From </p>
                                        <div class="col input-group nput-group-sm">
                                            <input type="date" class="form-control form-control-sm" id="id_datefrom"
                                                name="datefrom" data-mask value="{{ datetoday|date:'Y-m-01' }}">
                                        </div>
                                        <p class="col-form-label col-form-label-sm" style="text-align: right;">To</p>
                                        <div class="col input-group input-group-sm">
                                            <input type="date" class="form-control form-control-sm" id="id_dateto"
                                                name="dateto" data-mask value="{{ datetoday|date:'Y-m-d' }}">
                                        </div>
                                        <button onclick="reload_calibration_history()" type="button"
                                            class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                                        <!-- urlPrintHistory -->
                                        <a href="#" onclick="print_calibration_history()"
                                            class="btn btn-info btn-sm ml-1">
                                            <i class="fal fa-print mr-1"></i><span
                                                style="font-size: small">Print</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="tabley" class="table table-nowrap table-hover table-striped table-sm">
                            <thead>
                                <tr>
                                    <th data-sort-column="" class="leftmost">
                                        <input type="checkbox" id="select_all"><label
                                            for="select_all"><span></span></label>
                                    </th>
                                    <th style="width: 90px;">Action</th>
                                    <th style="width: 60px;">Date</th>
                                    <th>Serial No.</th>
                                    <th>Brand</th>
                                    <th>Reading</th>
                                    <th>Condition</th>
                                    <th>Accuracy</th>
                                    <th>Amphere</th>
                                    <th>Type</th>
                                    <th>Meter Seal</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                <!-- <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add item</button> -->

            </div>
            <!-- /.card -->
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="modal-details">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-default ">
                <h5 class="modal-title">Assign Meter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active" id="custom-tabs-two-profile-tab" data-toggle="pill"
                                    href="#custom-tabs-meter-seal" role="tab" aria-controls="custom-tabs-meter-seal"
                                    aria-selected="false"><i class="fal fa-solid fa-lasso mr-2"></i>Meter Seal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="custom-tabs-two-home-tab" data-toggle="pill"
                                    href="#custom-tabs-consumer" role="tab" aria-controls="custom-tabs-consumer"
                                    aria-selected="true">
                                    <i class="fal fad fa-books-medical mr-2"></i>Consumer
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-two-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-meter-seal" role="tabpanel"
                                aria-labelledby="custom-tabs-two-profile-tab">
                                <table id="Table-MeterSeal" class="table table-sm table-nowrap dtr-inline table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px;"></th>
                                            <th>Date</th>
                                            <th>Seal 1</th>
                                            <th>Seal 2</th>
                                            <th>Condition</th>
                                            <th>Accuracy</th>
                                            <th>Reading</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade " id="custom-tabs-consumer" role="tabpanel"
                                aria-labelledby="custom-tabs-two-home-tab">
                                <table id="Table-Consumer" class="table table-sm table-nowrap table-striped dtr-inline">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px;"></th>
                                            <th>Date</th>
                                            <th>Consumer</th>
                                            <th>Address</th>
                                            <!-- <th>OR No.</th> -->
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer justify-content-left">
                  <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="consumer_save()"><i
                      class="fal fa-save mr-1"></i> Save</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-assign">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary ">
                <h5 class="modal-title">Assign Meter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}

                <input type="hidden" name="userid" id="id_userid" value="{{ request.user.id }}">
                <input type="hidden" name="area" id="id_area" value="{{ area }}">
                <input type="hidden" name="id" id="id_id">
                <input type="hidden" name="metertestid" id="id_metertestid">
                <div class="form-group row">
                    <label for="id_transactiondate"
                        class="col-sm-3 col-form-label col-form-label-sm mlabel">Date:</label>
                    <div class="col">
                        <input type="date" class="form-control form-control-sm" id="id_transactiondate"
                            name="transactiondate" data-mask datemask value="{{ datetoday|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_brand" class="col-sm-3 col-form-label mlabel">Serial No.:</label>
                    <div class="col">
                        <input type="text" class="form-control form-control-sm" id="id_serialno" name="serialno"
                            maxlength="145" placeholder="Serial Number" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_supplier" class="col-sm-3 col-form-label mlabel">Consumer:</label>
                    <div class="col">
                        <select class="form-control form-control-sm dropdown-list-consumer" id="id_consumer"
                            name="consumer" onchange="consumer_selected()"></select>
                        <span class="col-form-label mr-2" id="lblAddress" style="font-size: 13px;">..</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="consumer_save()">
                    <i class="fal fa-save mr-1"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-calibration-update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary ">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- {% csrf_token %} -->
                <!-- <input type="hidden" name="userid" id="id_userid" value="{{ request.user.id }}">
                <input type="hidden" name="area" id="id_area" value="{{ area }}">
                <input type="hidden" name="id" id="id_id">-->
                <input type="hidden" name="meterdetailsid" id="id_meterdetailsid">

                <div class="form-group row">
                    <label for="id_transactiondate"
                        class="col-sm-4 col-form-label col-form-label-sm mlabel">Date:</label>
                    <div class="col">
                        <input type="date" class="form-control form-control-sm" id="id_transactiondate"
                            name="transactiondate" data-mask datemask value="{{ datetoday|date:'Y-m-d' }}">
                    </div>
                </div>

                <div id="multi" style="display: none">
                    <div class="form-group row">
                        <label for="id_meterdetailsid2" class="col-sm-4 col-form-label mlabel">Meter Serial:</label>
                        <div class="col">
                            <select class="form-control form-control-sm dropdown-list-serial" id="id_meterdetailsid2"
                                name="meterdetailsid2"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_s1" class="col-sm-4 col-form-label mlabel">Calibration Seal 1:</label>
                    <div class="col">
                        <select class="form-control form-control-sm dropdown-list-seal_a" id="id_seal_a"
                            name="seal_a"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_s2" class="col-sm-4 col-form-label mlabel">Calibration Seal 2:</label>
                    <div class="col">
                        <select class="form-control form-control-sm dropdown-list-seal_b" id="id_seal_b"
                            name="seal_b"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Meter Condition:</label>
                    <div class="col">
                        <select class="form-control form-control-sm select2" id="id_metercondition"
                            name="metercondition">
                            <option value="0">Good</option>
                            <option value="1">Damage</option>
                            <option value="2">Substandard</option>
                            <option value="3">Rehab.</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_accuracy" class="col-sm-4 col-form-label mlabel">Accuracy:</label>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id_accuracy" name="accuracy"
                            maxlength="145" placeholder="Accuracy">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_reading" class="col-sm-4 col-form-label mlabel">Reading:</label>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id_reading" name="reading"
                            maxlength="145" placeholder="Reading">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_remarks" class="col-sm-4 col-form-label mlabel">Remarks:</label>
                    <div class="col">
                        <textarea type="text" class="form-control form-control-sm" id="id_remarks" name="remarks"
                            rows="2" rows="5" placeholder="Remarks"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" class="btn btn-info inputs" data-dismiss="static"
                    onclick="calibration_update_save()">
                    <i class="fal fa-save mr-1"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    let tablez, tabley;
    let lbl_status = ['For Calibration', 'Calibration Repair'];
    let condition = ['Good', 'Damage', 'Substandard', 'Rehab'];
    let meterstatus = [' Initial Testing', 'Transfer', 'Available', 'Installed', 'Damage/Salvage', 'Removed Meter', 'Calibration/Repair', 'for Verification'];
    let urlCalibrated = "{% url 'calibrated' %}";

    // datatables
    let urlMeterSealDetails = "{% url 'dt_meterseal_details' 0 %}";

    let urlCalibrationUpdateSave = "{% url 'calibration_update_save' %}";

    // serverside dropdown
    let urlConsumerList = "{% url 'consumer_list' %}";
    let urlSealList = "{% url 'seal_list' %}";
    let urlMeterList = "{% url 'meters_list' %}";

    let status, data;
    var count = 0;

    function selected_status(params)
    {
        var new_params = params;
        if (params == 6) new_params = 1;
        $('.lbl_status').html(lbl_status[params]);
        $("#tablez").dataTable().fnDestroy();
        Load_serials_table(params);
    }

    function reload_calibration_history(params)
    {
        var date_from = $('#id_datefrom').val();
        var date_to = $('#id_dateto').val();
        // $('#tabley').DataTable().ajax.reload(null, false);
        $('#tabley').DataTable().destroy();
        Load_serials_tabley(2, date_from, date_to);
    }

    function Load_serials_table(params)
    {
        tablez = $('#tablez').DataTable({
            // "scrollX": true,
            "searching": true,
            // "stateSave": true,
            "info": true,
            "paging": true,
            // "lengthChange": true,
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                { "targets": [0], "searchable": false, "orderable": false, "visible": false, },
                // { "targets": [0], "checkboxes": { "selectRow": true } }
                // { orderable: false, className: 'select-checkbox', targets: 0 }
            ],
            "keys": true,
            "keys": { "blurable": false },
            "select": true,
            "select": {
                'style': 'single',
                // 'selector': 'td:first-child'
            },
            "processing": true,
            "serverSide": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(urlCalibrated, {
                    status: params,
                    action: 'home',
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_name
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                {
                    "data": "0", "render": function (data, type, row)
                    {
                        return '<td class="selected"><label for=""><span></span></label></td>'
                    }
                },
                {
                    "data": "0", "render": function (data, type, row)
                    {
                        return '<div class="btn-group">' +
                            '<a href="#" class="btn btn-info btn-xs" title="" onclick = "modal_calibration_update(' + row[0] + ')" ><i class="fal fa-tags mr-1"></i><span style="font-size: 12px;">Calibrate</span></a>' +
                            // '<a href="#" class="btn btn-default btn-xs" title="View" onclick = "modal_details(' + row[0] + ')" ><i class="fal fa-info ml-1 mr-1"></i><span style="font-size: 12px;"> </span></a>' +
                            '</div>'
                    }
                },
                { "data": "1" },
                { "data": "2" },
                { "data": "3" },
                { "data": "4" },
                { "data": "5" },
                {
                    "data": "6", "render": function (data, type, row)
                    {
                        if (data != 2)
                        {
                            return '<span style=""> ' + meterstatus[data] + '</span>'
                        } else
                        {
                            return '<span style=""> ' + condition[row[7]] + '</span>'
                        }
                    }
                },
            ],
        });
        // tablez.column(0).visible(false);
        tablez.column(6).visible(false);
    }

    function Load_serials_tabley(params, date_from, date_to)
    {
        tabley = $('#tabley').DataTable({
            "searching": true,
            "info": true,
            "paging": true,
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                // { "targets": [0], "searchable": false, "orderable": false, "visible": true, },
                { orderable: false, className: 'select-checkbox', targets: 0 }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull)
            {
                if (aData[14] == "2")
                {
                    $('td', nRow).css('background-color', '#90EE90');
                }
            },
            "keys": true,
            "keys": { "blurable": false },
            "select": true,
            "select": {
                'style': 'multi',
                'selector': 'td:first-child'
            },
            "processing": true,
            "serverSide": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(urlCalibrated, {
                    status: params,
                    action: 'history',
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_name,
                    date_from: date_from,
                    date_to: date_to,
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                {
                    "data": "0", "render": function (data, type, row)
                    {
                        if (row[14] == 2)
                        {
                            return '<td></td>'
                        } else
                        {
                            return '<td class="selected"><label for=""><span></span></label></td>'
                        }
                    }
                },
                {
                    "data": "0", "render": function (data, type, row)
                    {
                        return '<div class="btn-group">' +
                            '<a href="#" class="btn btn-info btn-xs" title="" onclick = "modal_details(' + row[0] + ')" ><i class="fal fa-info mr-1"></i><span style="font-size: 12px;">Info</span></a>' +
                            '</div>'
                    }
                },
                { "data": "7" },
                { "data": "1" },
                { "data": "2" },
                { "data": "10" },
                {
                    "data": "8", "render": function (data, type, row)
                    {
                        return '<span style=""> ' + condition[row[8]] + '</span>'
                    }
                },
                { "data": "4" },
                { "data": "9" },
                { "data": "13" },
                {
                    "data": "11", "render": function (data, type, row)
                    {
                        return '<span style=""> ' + [row[11]] + '-' + [row[12]] + '</span>'
                    }
                },
            ],
        });
        tabley.column(6).visible(false);
    }

    window.onload = function ()
    {

        Load_serials_table(0);
        Load_serials_tabley(2);

        // tabley.on("click", "th.select-checkbox", function ()
        // {
        //     if ($("th.select-checkbox").hasClass("selected"))
        //     {
        //         tabley.rows().deselect();
        //         $("th.select-checkbox").removeClass("selected");
        //     } else
        //     {
        //         tabley.rows().select();
        //         $("th.select-checkbox").addClass("selected");
        //     }
        // }).on("select deselect", function ()
        // {
        //     ("Some selection or deselection going on")
        //     if (tabley.rows({
        //         selected: true
        //     }).count() !== tablez.rows().count())
        //     {
        //         $("th.select-checkbox").removeClass("selected");
        //     } else
        //     {
        //         $("th.select-checkbox").addClass("selected");
        //     }
        // });

        dropdownlist('Enter Consumer', '.dropdown-list-consumer', urlConsumerList);
        dropdownlist('Enter Seal Number', '.dropdown-list-seal_a', urlSealList);
        dropdownlist('Enter Seal Number', '.dropdown-list-seal_b', urlSealList);
        dropdownlist('Enter Serial Number', '.dropdown-list-serial', urlMeterList);

        function dropdownlist(placeholder, dropdown, url)
        {
            $(dropdown).select2({
                placeholder: placeholder,
                ajax: {
                    url: url,
                    dataType: 'json',
                    delay: 250,
                    data: function (data)
                    {
                        return {
                            searchTerm: data.term
                        };
                    },
                    processResults: function (response)
                    {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });
        };

    };

    function loadMeterSealDetails(id)
    {
        $('#Table-MeterSeal').DataTable({
            "searching": true,
            "info": true,
            "paging": true,
            "lengthChange": true,
            "autoWidth": false,
            "scrollCollapse": true,
            "responsive": true,
            "fixedColumns": {
                "leftColumns": 1
            },
            "columnDefs": [
                { "targets": [0], "searchable": false, "orderable": false, "visible": false },
                { "targets": [1], "width": "15%", },
            ],

            "initComplete": function (settings, json)
            {
                $("#Table-MeterSeal").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                // $('#Table-MeterSeal').DataTable().columns.adjust().draw();
            },
            "select": { "style": 'multi' },
            "processing": true,
            "serverSide": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(urlMeterSealDetails.replace('0', id), {
                    id: id,
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_name
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                { "data": "id" },
                { "data": "transactiondate", "type": 'date-dd-mmm-yyyy' },
                { "data": "seal_a" },
                { "data": "seal_b" },
                { "data": "metercondition" },
                { "data": "accuracy" },
                { "data": "reading" },
                { "data": "remarks" },
            ],

        });
        // MeterSealtable.columns.adjust().draw();
    }

    function get_ismulti_update()
    {
        var ismulti;
        var multi = document.getElementById("multi");
        if (multi.style.display == "block")
        {
            ismulti = true;
        } else
        {
            ismulti = false;
        }
        return ismulti;
    }

    function ismulti_update(params)
    {
        var multi = document.getElementById("multi");
        multi.style.display = params;
    }

    function modal_assign(params)
    {
        var data = tablez.rows('.selected').data();
        var id = data[0][0];
        var meterserial = data[0][2];
        var metertestid = data[0][9];

        $('#id_id').val(id);
        $('#id_metertestid').val(metertestid);
        $('#id_serialno').val(meterserial);
        $('#modal-assign').find('.modal-title').text("Assign Meter");
        $('#modal-assign').modal('show').draggable({ handle: ".modal-header" });
    }

    function modal_calibration_update(params)
    {
        ismulti_update("none")
        var data = tablez.rows('.selected').data();
        var id = data[0][0];
        var meterserial = data[0][1];
        $('#id_meterdetailsid').val(id);
        $('#modal-calibration-update').find('.modal-title').text("Serial " + meterserial);
        $('#modal-calibration-update').modal('show').draggable({ handle: ".modal-header" });
    }

    function modal_calibration_update_multiple(params)
    {
        ismulti_update("block");
        $('#modal-calibration-update').find('.modal-title').text("Multi Calibration Update");
        $('#modal-calibration-update').modal('show').draggable({ handle: ".modal-header" });
    }

    function consumer_selected()
    {
        var id = $('#id_consumer').val();
        $.ajax({
            url: "{% url 'consumer_search' %}",
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: { id: id, },
            success: function (data)
            {
                $('#lblAddress').html(data[0][2]);
            },
            error: function (e)
            {
                alert('err: selected_consumer');
            }
        });
    }

    function consumer_save(params)
    {
        var transactiondate = $('#id_transactiondate').val();
        var meterdetailsid = $('#id_id').val();
        var metertestid = $('#id_metertestid').val();
        var consumer = $('#id_consumer').val();

        $.ajax({
            url: "{% url 'consumer_save' %}",
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: {
                transactiondate: transactiondate,
                meterdetailsid: meterdetailsid,
                metertestid: metertestid,
                consumer: consumer
            },
            success: function (data)
            {
                if (data.msg == "saved")
                    $('#modal-assign').modal('hide');
            },
            error: function (e)
            {
                alert('err: selected_consumer');
            }
        });
    }

    // function meters_assign()
    // {
    //   var id = table_meters.rows('.selected').data()[0][0];
    //   var name = table_meters.rows('.selected').data()[0][1];
    //   var address = table_meters.rows('.selected').data()[0][2];
    //   var context = '{"name": "' + name + '", "address":"' + address + '"}';
    //   var encrypted = window.btoa(context)
    //   window.open("add/" + encrypted, '_self');

    //   // var encodedString = window.btoa(baseString); // returns "bXktbmFtZS0x"
    //   // var decodedString = window.atob(encodedString);  // returns "my-name-1"
    // }

    //

    function clear_modal_input()
    {
        $('#id_meterdetailsid').val();
        $('#id_meterdetailsid2').val(null).trigger('change');
        $('#id_seal_a').val(null).trigger('change');
        $('#id_seal_b').val(null).trigger('change');
        $('#id_metercondition').val('');
        $('#id_accuracy').val('');
        $('#id_reading').val('');
        $('#id_remarks').val('');
    }

    function calibration_update_save()
    {
        var meterdetailsid, meterserial;
        var transactiondate = $('#id_transactiondate').val();
        if (get_ismulti_update() == false)
        {
            meterdetailsid = $('#id_meterdetailsid').val();
            // meterserial = $('#id_meterdetailsid option:selected').html()
        } else
        {
            meterdetailsid = $('#id_meterdetailsid2').val();
            meterserial = $('#id_meterdetailsid2 option:selected').html()
        }
        var seal_a = $('#id_seal_a option:selected').html()
        var seal_b = $('#id_seal_b option:selected').html()
        var metercondition = $('#id_metercondition').val();
        var accuracy = $('#id_accuracy').val();
        var reading = $('#id_reading').val();
        var remarks = $('#id_remarks').val();

        $.ajax({
            url: urlCalibrationUpdateSave,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: {
                meterdetailsid: meterdetailsid,
                transactiondate: transactiondate,
                seal_a: seal_a,
                seal_b: seal_b,
                metercondition: metercondition,
                accuracy: accuracy,
                reading: reading,
                remarks: remarks,
            },
            success: function (data)
            {
                if (data.msg == "saved")
                {
                    if (get_ismulti_update() == false)
                    {
                        $('#modal-calibration-update').modal('hide');
                        Swal.fire('Saved!', 'Successfully calibrated!', 'success');
                    } else
                    {
                        Swal.fire('Saved!', meterserial + ' Successfully calibrated!', 'success');
                    }
                    tablez.ajax.reload(null, false);
                    reload_calibration_history();
                    clear_modal_input();
                }
                else
                {
                    Swal.fire('Error!', data.msg, 'error');
                }
            },
            error: function (e)
            {
                alert('err: ' + data.msg);
            }
        });
    }

    function modal_details(params)
    {
        var data = tabley.rows('.selected').data();
        // var id = data[0][0];
        var id = params;
        var meterserial = data[0][1];
        // var metertestid = data[0][7];

        $('#modal-details').find('.modal-title').text("Details of: " + meterserial);
        $('#modal-details').modal('show').draggable({ handle: ".modal-header" });

        // alert(meterserial);
        // tabley.fnDestroy();
        $("#Table-MeterSeal").dataTable().fnDestroy();
        loadMeterSealDetails(id);

    }

    let ar_icons = ['success', 'error', 'warning', 'info', 'question'];
    function return_selected_meters(params)
    {
        // if (count <= 0) return;
        Swal.fire({
            title: "Are you sure?",
            text: "You wan't to return this meter(s) to warehouse!",
            confirmButtonText: "Yes, return it!",
            showCancelButton: true,
            cancelButtonColor: '#d33',
            icon: "question",
        }).then((result) =>
        {
            if (result.isConfirmed)
            {
                let rows = tabley.rows('.selected');
                data = rows.data();
                data.each(function (value, index)
                {
                    return_meters(value[0])
                });
                Swal.fire('Successfully returned!', '', 'info')
            } else if (result.isDenied)
            {
                Swal.fire('Changes are not saved', '', 'info')
            }
        });
    }

    function return_meters(params)
    {
        $.ajax({
            url: urlReturnByOne, // get the route value
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: { id: params, },
            success: function (response)
            {
                tabley.ajax.reload(null, false);
                // alert(response.msg);
            },

        });
    }


    let urlPrintHistory = "{% url 'print_calibration_history' %}"
    let urlReturnByRange = "{% url 'return_meters_by_range' %}"
    let urlReturnByOne = "{% url 'return_meters_one_by_one' %}"


    function print_calibration_history(params)
    {
        var date_from = $('#id_datefrom').val();
        var date_to = $('#id_dateto').val();
        window.open(urlPrintHistory + "?id=" + 2 + "&range=" + date_from + "|" + date_to, "_blank");
    }

    function custom_return(params)
    {
        Swal.fire({
            title: "Custom Meter Return",
            text: "Enter meter serial by range, ex: 000001-000100",
            content: "input",
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            confirmButtonText: "Yes, return it!",
            showCancelButton: true,
            cancelButtonColor: '#d33',
            // icon: "question",
            preConfirm: (serial) =>
            {
                $.ajax({
                    url: urlReturnByRange, // get the route value
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    contentType: false,
                    data: { serial: serial, },
                    success: function (response)
                    {

                    },
                    error: function (respose)
                    {
                        Swal.fire('Not Found.', response, 'error')
                    }
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        });
    }
</script>


{% endblock content %}