{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "base/header.html" %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 mr-2">
          <div class="input-group-prepend" style="height: 40px;">
            <button class="btn btn-sm btn-info dropdown-toggle lbl_status" data-toggle="dropdown" style="height: 31px">
              For Calibration</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="selected_status(0)"> For Calibration</a>
              <a class="dropdown-item" href="#" onclick="selected_status(2)"> Calibrated</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" onclick="selected_status()"> All</a>
            </div>
          </div>
        </div>
        <div class="ml-auto ">
          <!-- <button onclick="modal_assign()" class="btn btn-info btn-sm mb-2">
            <i class="fal fa-plus-circle mr-1"></i><span style="font-size: small">Assign
              Selected</span></button> -->
        </div>
      </div>
    </div>
    <section class="content">
      <div class="row">
        <section class="col-lg-12 connectedSortable">
          <div class="card">
            <div class="card-body">
              <table id="tablez" class="table table-nowrap table-hover">
                <thead>
                  <tr>
                    <th data-sort-column="" class="leftmost"><input type="checkbox" id="select_all"><label
                        for="select_all"><span></span></label></th>
                    <th style="width: 60px;">Action</th>
                    <th>Serial No.</th>
                    <th>Brand</th>
                    <th>Type</th>
                    <th>Amphere</th>
                    <th>Accuracy</th>
                    <th>Status</th>
                    <!-- <th>metertestid</th> -->
                    <!-- <th style="display: none;">metertestid</th> -->
                    <!-- <th>Condition</th> -->
                    <!-- <th>Seal 1</th> -->
                    <!-- <th>Seal 2</th> -->
                  </tr>
                </thead>
              </table>
        </section>
        <!-- <section class="col-lg-7 connectedSortable">
          something here
        </section> -->
      </div>
    </section>
  </div>
</div>

<div class="modal fade" id="modal-details">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-default ">
        <h5 class="modal-title">Assign Meter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="card card-default card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
              <!-- <li class="pt-2 px-3">
                          <h3 class="card-title">Acquisition</h3>
                        </li> -->
              <li class="nav-item">
                <a class="nav-link " id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home"
                  role="tab" aria-controls="custom-tabs-two-home" aria-selected="true"><i
                    class="fal fad fa-books-medical mr-2"></i>Consumer</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" id="custom-tabs-two-profile-tab" data-toggle="pill"
                  href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile"
                  aria-selected="false"><i class="fal fa-solid fa-lasso mr-2"></i>Meter Seal</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
              <div class="tab-pane fade " id="custom-tabs-two-home" role="tabpanel"
                aria-labelledby="custom-tabs-two-home-tab">
                <table id="Table-Consumer" class="table table-nowrap table-striped dtr-inline">
                  <thead>
                    <tr>
                      <th style="width: 60px;"></th>
                      <th>Date</th>
                      <th>Consumer</th>
                      <th>Address</th>
                      <!-- <th>OR No.</th> -->
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tab-pane fade show active" id="custom-tabs-two-profile" role="tabpanel"
                aria-labelledby="custom-tabs-two-profile-tab">
                <table id="Table-MeterSeal" class="table table-sm table-nowrap dtr-inline table-hover">
                  <thead>
                    <tr>
                      <th style="width: 60px;"></th>
                      <th>Date</th>
                      <th>Seal 1</th>
                      <th>Seal 2</th>
                      <th>Condition</th>
                      <th>Accuracy</th>
                      <th>Reading</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- <div class="modal-footer justify-content-left">
        <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="consumer_save()"><i
            class="fal fa-save mr-1"></i> Save</button>
      </div> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-assign">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title">Assign Meter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}

        <input type="hidden" name="userid" id="id_userid" value="{{ request.user.id }}">
        <input type="hidden" name="area" id="id_area" value="{{ area }}">
        <input type="hidden" name="id" id="id_id">
        <input type="hidden" name="metertestid" id="id_metertestid">
        <div class="form-group row">
          <label for="id_transactiondate" class="col-sm-3 col-form-label col-form-label-sm mlabel">Date:</label>
          <div class="col">
            <input type="date" class="form-control form-control-sm" id="id_transactiondate" name="transactiondate"
              data-mask datemask value="{{ datetoday|date:'Y-m-d' }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_brand" class="col-sm-3 col-form-label mlabel">Serial No.:</label>
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="id_serialno" name="serialno" maxlength="145"
              placeholder="Serial Number" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_supplier" class="col-sm-3 col-form-label mlabel">Consumer:</label>
          <div class="col">
            <select class="form-control form-control-sm dropdown-list-consumer" id="id_consumer" name="consumer"
              onchange="consumer_selected()"></select>
            <span class="col-form-label mr-2" id="lblAddress" style="font-size: 13px;">..</span>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-left">
        <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="consumer_save()"><i
            class="fal fa-save mr-1"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-calibration-update">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- {% csrf_token %} -->

        <!-- <input type="hidden" name="userid" id="id_userid" value="{{ request.user.id }}">
        <input type="hidden" name="area" id="id_area" value="{{ area }}">
        <input type="hidden" name="id" id="id_id">-->
        <input type="hidden" name="meterdetailsid" id="id_meterdetailsid">

        <div class="form-group row">
          <label for="id_transactiondate" class="col-sm-4 col-form-label col-form-label-sm mlabel">Date:</label>
          <div class="col">
            <input type="date" class="form-control form-control-sm" id="id_transactiondate" name="transactiondate"
              data-mask datemask value="{{ datetoday|date:'Y-m-d' }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_s1" class="col-sm-4 col-form-label mlabel">Calibration Seal 1:</label>
          <div class="col">
            <select class="form-control form-control-sm dropdown-list-seal_a" id="id_seal_a" name="seal_a"></select>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_s2" class="col-sm-4 col-form-label mlabel">Calibration Seal 2:</label>
          <div class="col">
            <select class="form-control form-control-sm dropdown-list-seal_b" id="id_seal_b" name="seal_b"></select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4">Meter Condition:</label>
          <div class="col">
            <select class="form-control form-control-sm select2" id="id_metercondition" name="metercondition">
              <option value="0">Good</option>
              <option value="1">Damage</option>
              <option value="2">Substandard</option>
              <option value="3">Rehab.</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_accuracy" class="col-sm-4 col-form-label mlabel">Accuracy:</label>
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="id_accuracy" name="accuracy" maxlength="145"
              placeholder="Accuracy">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_reading" class="col-sm-4 col-form-label mlabel">Reading:</label>
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="id_reading" name="reading" maxlength="145"
              placeholder="Reading">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_remarks" class="col-sm-4 col-form-label mlabel">Remarks:</label>
          <div class="col">
            <textarea type="text" class="form-control form-control-sm" id="id_remarks" name="remarks" rows="2" rows="5"
              placeholder="Remarks"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-left">
        <button type="button" class="btn btn-info inputs" data-dismiss="static" onclick="calibration_update_save()"><i
            class="fal fa-save mr-1"></i> Save</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static "js/alert.js" %}"></script>
<script type="text/javascript">

  let tablez;
  let lbl_status = ['For Calibration', 'Calibrated', 'All'];
  let condition = ['Good', 'Damage', 'Substandard', 'Rehab'];
  let meterstatus = [' Initial Testing', 'Transfer', 'Available', 'Installed', 'Damage/Salvage', 'Removed Meter', 'Calibration/Repair', 'for Verification'];
  let urlCalibrated = "{% url 'calibrated' %}";


  // datatables
  let urlConsumers = "{% url 'consumers' 0 %}";
  let urlMeterSeal = "{% url 'meterseal' 0 %}";

  let urlUpdateSeal = "{% url 'update_seal' %}";

  // serverside dropdown
  let urlConsumerList = "{% url 'consumer_list' %}";
  let urlSealList = "{% url 'seal_list' %}";

  let status;





  function selected_status(params)
  {
    $('.lbl_status').html(lbl_status[params]);

     $("#tablez").dataTable().fnDestroy();
    Load_serials_table(params);
  }


  function Load_serials_table(params)
  {
    tablez = $('#tablez').DataTable({
      // "scrollX": true,
      "searching": true,
      // "stateSave": true,
      "info": true,
      "paging": true,
      // "lengthChange": true,
      "autoWidth": false,
      "responsive": true,
      "columnDefs": [
        { "targets": [0], "searchable": false, "orderable": false, "visible": true, },
        // { "targets": [7], "className": "text-right" }
      ],
      "keys": true,
      "keys": { "blurable": false },
      "select": true,
      "select": {
        'style': 'single',
        'selector': 'td:first-child'
      },
      "processing": true,
      "serverSide": true,
      "ajax": function (data, callback, settings)
      {
        var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
        var direction = "";
        if (data.order[0].dir == "desc") { direction = "-" };
        $.get(urlCalibrated, {
          status: params,
          limit: data.length,
          start: data.start,
          filter: data.search.value,
          order_by: direction + sort_column_name
        }, function (res)
        {
          callback({
            recordsTotal: res.length,
            recordsFiltered: res.length,
            data: res.objects
          });
        });
      },
      columns: [
        {
          "data": "0", "render": function (data, type, row)
          {
            return '<td class="selected"><input type="checkbox" id="" value="20"><label for=""><span></span></label></td>'
          }
        },
        {
          "data": "0", "render": function (data, type, row)
          {
            return '<div class="input-group-prepend">' +
              '  <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">Action </button>' +
              '    <div class="dropdown-menu">' +
              // '      <a class="dropdown-item" href="edit/' + row[9] + '" ><i class="fal fa-edit mr-1"></i> Modify Calibration</a>' +
              // '      <div class="dropdown-divider"></div>' +
              '      <a class="dropdown-item" href="#" onclick=modal_calibration_update(' + row[0] + ')><i class="fal fa-tags mr-1"></i> Meter Calibration Update</a>' +
              '      <a class="dropdown-item" href="#" onclick="modal_assign(' + row[0] + ')"><i class="fal fa-user-tag mr-1"></i> Assign this meter</a>' +
              '      <div class="dropdown-divider"></div>' +
              '      <a class="dropdown-item" href="print_test/' + row[0] + '" ><i class="fal fa-print mr-1"></i> Print Test Report</a>' +
              '    </div>' +
              '  </div >'
          }
        },
        //
        { "data": "1" },
        {
          "data": "2", "render": function (data, type, row)
          {
            return '<td style="width: fit-content;"> <a href="#" onclick="modal_details()" title="View Details">' + data + '</a></td>'
          }
        },
        // { "data": "2" },
        { "data": "3" },
        { "data": "4" },
        { "data": "5" },
        {
          "data": "6", "render": function (data, type, row)
          {
            return '<span style=""> ' + meterstatus[data] + '</span>'
          }
        },
        // { "data": "7" },
        // {
        //   "data": "5", "render": function (data, type, row)
        //   {
        //     return '<span style=""> ' + condition[row["5"]] + '</span>'
        //   }
        // },
        // { "data": "9" },
      ]
    });
    tablez.column(0).visible(false);
    tablez.column(6).visible(false);
  }

  window.onload = function ()
  {

    Load_serials_table(0);

    $('#tablez tbody').on('click', 'tr', function ()
    {
      if ($(this).hasClass('selected'))
      {
        $(this).removeClass('selected');
      }
      else
      {
        tablez.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }

      var data = tablez.rows(this).data();
      var id = data[0][0];
      var metertestid = data[0][9];
      $("#Table-Consumer").dataTable().fnDestroy();
      $("#Table-MeterSeal").dataTable().fnDestroy();

      loadConsumerDetails(id);
      loadMeterSealDetails(metertestid);

    });



    function loadConsumerDetails(id)
    {
      $('#Table-Consumer').DataTable({
        "searching": false,
        "info": false,
        "paging": true,
        "lengthChange": true,
        "autoWidth": false,
        "columnDefs": [
          { "targets": [0], "searchable": false, "orderable": false, "visible": false },
          // { "targets": [1], "width": "14%" },
        ],
        "keys": true,
        "keys": { "blurable": false },
        "select": true,
        "select": {
          "style": 'multi',
          "selector": 'td:first-child',
        },
        "serverSide": true,
        "processing": true,
        "ajax": function (data, callback, settings)
        {
          var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
          var direction = "";
          if (data.order[0].dir == "desc") { direction = "-" };
          $.get(urlConsumers.replace('0', id), {
            id: id,
            limit: data.length,
            start: data.start,
            filter: data.search.value,
            order_by: direction + sort_column_name
          }, function (res)
          {
            callback({
              recordsTotal: res.length,
              recordsFiltered: res.length,
              data: res.objects
            });
          });
        },
        columns: [
          { "data": "id" },
          { "data": "transactiondate" },
          { "data": "consumer" },
          { "data": "address" },
        ],
        // "dom": '<lf<t>ip>',

        "dom": '<"pull-left" f><t>',
        "dom": '<"top"i>rt<"bottom"flp><"clear">',
        // "fnInitComplete": function (oSettings, json)
        // {
        //   $('#table_meterdetails tbody tr:eq(0)').click();
        // },
      });
    }

    function loadMeterSealDetails(id)
    {
      $('#Table-MeterSeal').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": function (data, callback, settings)
        {
          var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
          var direction = "";
          if (data.order[0].dir == "desc") { direction = "-" };
          $.get(urlMeterSeal.replace('0', id), {
            id: id,
            limit: data.length,
            start: data.start,
            filter: data.search.value,
            order_by: direction + sort_column_name
          }, function (res)
          {
            callback({
              recordsTotal: res.length,
              recordsFiltered: res.length,
              data: res.objects
            });
          });
        },
        columns: [
          { "data": "id" },
          { "data": "transactiondate", "type": 'date-dd-mmm-yyyy' },
          { "data": "seal_a" },
          { "data": "seal_b" },
          { "data": "metercondition" },
          { "data": "accuracy" },
          { "data": "reading" },
          { "data": "remarks" },
        ],

        "searching": true,
        "info": true,
        "paging": true,
        "lengthChange": true,
        "autoWidth": false,
        "scrollCollapse": true,
        "responsive": true,
        "fixedColumns": {
          "leftColumns": 1
        },
        "columnDefs": [
          { "targets": [0], "searchable": false, "orderable": false, "visible": false },
          { "targets": [1], "width": "15%", },
        ],

        "initComplete": function (settings, json)
        {
          $("#Table-MeterSeal").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          // $('#Table-MeterSeal').DataTable().columns.adjust().draw();
        },
      });
      // MeterSealtable.columns.adjust().draw();
    }

    dropdownlist('Enter Consumer', '.dropdown-list-consumer', urlConsumerList);
    dropdownlist('Enter Seal Number', '.dropdown-list-seal_a', urlSealList);
    dropdownlist('Enter Seal Number', '.dropdown-list-seal_b', urlSealList);
    function dropdownlist(placeholder, dropdown, url)
    {
      $(dropdown).select2({
        placeholder: placeholder,
        ajax: {
          url: url,
          dataType: 'json',
          delay: 250,
          data: function (data)
          {
            return {
              searchTerm: data.term
            };
          },
          processResults: function (response)
          {
            return {
              results: response
            };
          },
          cache: true
        }
      });
    };

  };

  function modal_assign(params)
  {
    var data = tablez.rows('.selected').data();
    var id = data[0][0];
    var meterserial = data[0][2];
    var metertestid = data[0][9];

    $('#id_id').val(id);
    $('#id_metertestid').val(metertestid);
    $('#id_serialno').val(meterserial);
    $('#modal-assign').find('.modal-title').text("Assign Meter");
    $('#modal-assign').modal('show').draggable({ handle: ".modal-header" });

  }

  function modal_calibration_update(params)
  {

    var data = tablez.rows('.selected').data();
    var id = data[0][0];
    var meterserial = data[0][1];
    $('#id_meterdetailsid').val(id);
    $('#modal-calibration-update').find('.modal-title').text("Serial " + meterserial);
    $('#modal-calibration-update').modal('show').draggable({ handle: ".modal-header" });

  }


  function consumer_selected()
  {
    var id = $('#id_consumer').val();
    $.ajax({
      url: "{% url 'consumer_search' %}",
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      contentType: false,
      data: { id: id, },
      success: function (data)
      {
        $('#lblAddress').html(data[0][2]);
      },
      error: function (e)
      {
        alert('err: selected_consumer');
      }
    });
  }

  function consumer_save(params)
  {
    // 'id', 'meterdetailsid', 'consumer', 'address', 'type', 'active', 'userid'
    var transactiondate = $('#id_transactiondate').val();
    var meterdetailsid = $('#id_id').val();
    var metertestid = $('#id_metertestid').val();
    var consumer = $('#id_consumer').val();

    $.ajax({
      url: "{% url 'consumer_save' %}",
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      contentType: false,
      data: {
        transactiondate: transactiondate,
        meterdetailsid: meterdetailsid,
        metertestid: metertestid,
        consumer: consumer
      },
      success: function (data)
      {
        if (data.msg == "saved")
          $('#modal-assign').modal('hide');
      },
      error: function (e)
      {
        alert('err: selected_consumer');
      }
    });
  }

  // function meters_assign()
  // {
  //   var id = table_meters.rows('.selected').data()[0][0];
  //   var name = table_meters.rows('.selected').data()[0][1];
  //   var address = table_meters.rows('.selected').data()[0][2];
  //   var context = '{"name": "' + name + '", "address":"' + address + '"}';
  //   var encrypted = window.btoa(context)
  //   window.open("add/" + encrypted, '_self');

  //   // var encodedString = window.btoa(baseString); // returns "bXktbmFtZS0x"
  //   // var decodedString = window.atob(encodedString);  // returns "my-name-1"
  // }

  //

  function calibration_update_save(params)
  {
    // 'id', 'transactiondate', 'seal_a', 'seal_b', 'metercondition', 'accuracy', 'reading', 'remarks', 'active', 'userid', 'meterdetailsid'
    var meterdetailsid = $('#id_meterdetailsid').val();
    var transactiondate = $('#id_transactiondate').val();

    var seal_a = $('#id_seal_a option:selected').html()
    var seal_b = $('#id_seal_b option:selected').html()
    var metercondition = $('#id_metercondition').val();
    var accuracy = $('#id_accuracy').val();
    var reading = $('#id_reading').val();
    var remarks = $('#id_remarks').val();

    $.ajax({
      url: urlUpdateSeal,
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      contentType: false,
      data: {
        meterdetailsid: meterdetailsid,
        transactiondate: transactiondate,
        seal_a: seal_a,
        seal_b: seal_b,
        metercondition: metercondition,
        accuracy: accuracy,
        reading: reading,
        remarks: remarks,
      },
      success: function (data)
      {
        if (data.msg == "saved")
          $('#modal-calibration-update').modal('hide');
          msgAlert('Save', 'Successfully calibrated!', 1);
          $('#tablez').DataTable().ajax.reload(null, false);
      },
      error: function (e)
      {
        alert('err: ' + e);
      }
    });
  }

  function modal_details(params)
  {
    var data = tablez.rows('.selected').data();
    var id = data[0][0];
    var meterserial = data[0][1];
    // var metertestid = data[0][7];

    $('#modal-details').find('.modal-title').text("Details of: " + meterserial);
    $('#modal-details').modal('show').draggable({ handle: ".modal-header" });
  }
</script>


{% endblock content %}