
<div class="modal fade" id="modal-assign">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">Assign Meter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>

            <input type="hidden" id="idissuance" name="idissuance" />

            <div class="modal-body">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_assigneddate" class="col-sm-3 col-form-label col-form-label-sm">Date:</label>
                        <div class="col">
                            <input type="date" class="form-control form-control-sm" id="id_assigneddate" name="assigneddate"
                                value="{{ datetoday|date:'Y-m-d' }}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="idmeterserials" class="col-sm-3 col-form-label">Serial
                            No.:</label>
                        <div class="col">
                            <select class="form-control select2" id="id_idmeterserials" name="idmeterserials"
                                onchange="selected_serialno()">
                                {% for row in serials %}
                                <option value="{{ row.id }}">
                                    {{ row.idmeterdetails__serialno }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_coname" class="col-sm-3 col-form-label">Name:</label>
                        <div class="col">
                            <select class="form-control select2" id="id_coname" name="coname" onchange="selected_serialno()">
                                {% for row in coname %}
                                <option value="{{ row.id }}">
                                    {{ row.0 }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_coname" class="col-sm-3 col-form-label col-form-label-sm">Name:</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="id_coname" name="coname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_coaddress" class="col-sm-3 col-form-label col-form-label-sm">Address:</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="id_coaddress" name="coaddress">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_brand" class="col-sm-3 col-form-label col-form-label-sm">Brand:</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="id_brand" name="brand">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_reading" class="col-sm-3 col-form-label col-form-label-sm">Reading:</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="id_reading" name="reading">
                        </div>
                    </div>

                    <center><label class="text-danger">{{ err_msg }}</label></center>

                </form>

            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times mr-1"></i>
                    Close</button>
                <button type="submit" class="btn btn-info" onclick="save_issuance()"><i class="fal fa-save mr-1"></i>
                    Save & Open Details</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    window.onload = function ()
        {
            alert('asdf');
        $('#name').val('asdfasdf');
        }
    $('#areafrom :input').prop('disabled', true);
    function enable_areafrom()
    {
        var check = $('#checkboxTransferfrom').is(':checked');
        if (check)
        {
            $('#areafrom :input').prop('disabled', false);
        } else
        {
            $('#areafrom :input').prop('disabled', true);
        }
    }

    $('.inputs').keydown(function (e)
    {
        if (e.which === 13)
        {
            var index = $('.inputs').index(this) + 1;
            $('.inputs').eq(index).focus();
        }
    });

    function change_mrvno()
    {
        var transferto = $('#transferto').val();
        $.ajax({
            url: 'datahelpers/issuance_helper.php',
            type: 'post',
            dataType: 'json',
            data: {
                x: x,
                transferto: transferto,
            },
            success: function (data)
            {
                if (x == 'mct')
                {
                    $('#rvno').val(data.rvno);
                } else
                {
                    $('#rvno').val(data.rvno);
                }
            },
            error: function (ex)
            {
                // alert('issuance line: 122');
            }
        });

    }

</script>