{% extends "base/base.html" %}
{% load static %}

{% block content %}


<style type="text/css">
    label {
        /* text-align: right; */
        color: darkslategray;
        font-size-adjust: 0.45;
    }

</style>


<div class="content-wrapper">
    <form class="meter-test-form" action="" method="POST" autocomplete="off" >
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Meter Test</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <!-- <button type="button" class="btn btn-success btn-sm mr-1" onclick="save_meter_test()"><i
                                    class="fal fa-save mr-1" tabindex="-1"></i>Save & Next</button> -->
                            <button type="submit" class="btn btn-success btn-sm mr-1"><i class="fal fa-save mr-1"
                                    tabindex="-1"></i>Save & Next</button>
                            <a href=".." class="btn btn-info btn-sm"><i class="fal fa-share-square"></i>
                                <span style="font-size: 12px;"> Done</span></a>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                {% if save == "save" %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> Success: Meter
                    calibration saved!
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
                <!-- <div class='alert alert-success alert-dismissible row'>
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
            <h5><i class='icon fas fa-check'></i>Meter calibration saved!</h5>
        </div> -->
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        {% csrf_token %}
                        <input type="hidden" id="id_consumersid" name="consumersid">
                        <input type="hidden" id="id_brandid" name="brandid">
                        <input type="hidden" name="active" min="0" required="" id="id_active" value="0">
                        <input type="hidden" name="userid" maxlength="45" required="" id="id_userid" value="0">
                        <div class="card card-info card-outline">

                            <div class="row g-0">
                                <div class="col-lg-4">
                                    <div class="card-body">

                                        <div class="form-group">
                                            <div class="text-center">
                                                <!-- <img class="profile-user-img img-fluid img-circle" src="{% static "dist/img/AdminLTELogo.png" %}" alt="User profile picture"> -->
                                                <div id="profileImage" class="mx-auto"></div>
                                            </div>
                                            <h3 class="profile-username text-center" id="lblName">...</h3>
                                            <p class="text-muted text-center" id="lblAddress">...</p>
                                        </div>

                                        <hr>

                                        <div class="form-group row">
                                            <label for="id_testdate" class="col-sm-4 col-form-label"><span>
                                                    Date:</span></label>
                                            <div class="col">
                                                <div class="input-group inputs-group-sm">
                                                    <input type="date" class="form-control form-control-sm"
                                                        id="id_testdate" name="testdate" data-mask datemask
                                                        value="{{ datetoday|date:'Y-m-d' }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_brand" class="col-sm-4 col-form-label">Serial No.</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm"
                                                    id="id_serialno" name="serialno" readonly
                                                    value="{{ serialno }}">
                                            </div>
                                        </div>

                                        <input type="hidden" class="form-control form-control-sm" id="id_idmeterserials"
                                            name="idmeterserials" readonly required>

                                        <div class="form-group row">
                                            <label for="id_brand" class="col-sm-4 col-form-label">Meter</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_brand"
                                                    name="brand" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_reading" class="col-sm-4 col-form-label">Reading:</label>
                                            <div class="col">
                                                <input type="number" class="form-control form-control-sm d"
                                                    style="text-align: right;" id="id_reading" name="reading"
                                                    step="0.01" value="0.00" step="any" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_type" class="col-sm-4 col-form-label">Type/Class:</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_type"
                                                    name="type" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_volts" class="col-sm-4 col-form-label">Volts:</label>
                                            <div class="col">
                                                <input type="number" class="form-control form-control-sm" id="id_volts"
                                                    name="volts" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_phase" class="col-sm-4 col-form-label">Phase: </label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_phase"
                                                    name="phase" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_kh" class="col-sm-4 col-form-label">Kh:</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_kh"
                                                    name="kh" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_ta" class="col-sm-4 col-form-label">T.A.:</label>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-sm" id="id_ta"
                                                    name="ta" required>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-8 row mt-2">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <i class="fas fa-tachometer-alt-fastest mr-1"
                                                    style="color: dimgray;"></i>
                                                Full Load Test (70%)
                                            </div>
                                            <div class="card-body">

                                                <div class="form-group row">
                                                    <label for="id_fl1" class="col-sm-4 col-form-label">Trial 1:
                                                    </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_fl1" name="fl1"
                                                            step="0.01" value="0.00" onchange="generate_average()" tabindex="2">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="id_fl2" class="col-sm-4 col-form-label">Trial 2:
                                                    </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_fl2" name="fl2"
                                                            step="0.01" value="0.00" onchange="generate_average()" tabindex="3">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="id_fl3" class="col-sm-4 col-form-label">Trial 3:
                                                    </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_fl3" name="fl3"
                                                            step="0.01" value="0.00" onchange="generate_average()" tabindex="4">
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group row">
                                                    <label for="id_fullload_average" class="col-sm-4 col-form-label"
                                                        style="color: green;">Average: </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_fullload_average"
                                                            name="fullload_average" value="0.00" readonly tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <i class="fas fa-tachometer-alt-fastest mr-1"
                                                    style="color: dimgray;"></i>
                                                Light Load Test (30%)
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label for="id_ll1" class="col-sm-4 col-form-label">Trial 1:
                                                    </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_ll1" name="ll1"
                                                            step="0.01" value="0.00" onchange="generate_average()">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="id_ll2" class="col-sm-4 col-form-label">Trial 2:
                                                    </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_ll2" name="ll2"
                                                            step="0.01" value="0.00" onchange="generate_average()">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="id_ll3" class="col-sm-4 col-form-label">Trial 3:
                                                    </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_ll3" name="ll3"
                                                            step="0.01" value="0.00" onchange="generate_average()">
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group row">
                                                    <label for="id_lightload_average" class="col-sm-4 col-form-label"
                                                        style="color: green;">Average: </label>
                                                    <div class="col">
                                                        <input type="number" class="form-control form-control-sm"
                                                            style="text-align: right;" id="id_lightload_average"
                                                            name="lightload_average" value="0.00" readonly
                                                            tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <button type="button" onClick="generate_average()"
                                            class="btn btn-info btn-sm mb-2 "><i class="fad fa-abacus mr-1"></i>Generate
                                            Average</button>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="id_gen_average" class="col col-form-label"
                                                                style="text-align: left; color: green;">General
                                                                Average </label>
                                                            <div class="col">
                                                                <input type="number"
                                                                    class="form-control form-control-sm"
                                                                    style="text-align: right;" id="id_gen_average"
                                                                    name="gen_average" readonly value="0.00"
                                                                    tabindex="-1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <input type="checkbox" name="isdamage" value="1"
                                                                    id="id_isdamage" class="mt-1 ml-2">
                                                                <label for="is_barcoded"><span></span> Is
                                                                    Damage</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="id_remarks" class="col col-form-label"
                                                                style="text-align: left;">Remarks </label>
                                                            <div class="col">
                                                                <textarea type="text"
                                                                    class="form-control form-control-sm" id="id_remarks"
                                                                    name="remarks" rows="3" cols="4" required
                                                                    style="resize: none;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success btn-sm mr-1"><i class="fal fa-save mr-1" tabindex="-1"></i>Save &
                                            Next</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </form>
</div>

<script>

    // serverside dropdown
    // let urlConsumerList = "{% url 'consumer_list' %}";
    let urlSerialList = "{% url 'serials' %}";
    let urlSerialSearch = "{% url 'search_for_meter' %}";
    let urlSaveTest = "{% url 'new' 0 %}";
    let SerialNo = "{{ serialno }}";




    // $('[data-mask]').inputmask();
    // $('#datemask').inputmask('yyyy-mm-dd', { 'placeholder': 'yyyy-mm-dd' });

    // $(".d").change(function ()
    // {
    //     this.value = parseFloat(this.value).toFixed(2);
    // });
    window.onload = function ()
    {

        locate_serialno_from_master(SerialNo);

        function isNumber(evt)
        {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 46 || charCode > 57))
            {
                return false;
            }
            return true;
        }


        // dropdownlist('Search Serial', '.dropdown-list-serials', urlSerialList);
        function dropdownlist(placeholder, dropdown, url)
        {
            $(dropdown).select2({
                placeholder: placeholder,
                ajax: {
                    url: url,
                    dataType: 'json',
                    delay: 250,
                    data: function (data)
                    {
                        return {
                            searchTerm: data.term
                        };
                    },
                    processResults: function (response)
                    {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });
        };
    };

    $(document).on('keypress', 'input,select', function (e)
    {
        if (e.which == 13)
        {
            e.preventDefault();
            var $next = $('[tabIndex=' + (+this.tabIndex + 1) + ']');
            console.log($next.length);
            if (!$next.length)
            {
                $next = $('[tabIndex=1]');
            }
            $next.focus().click();
        }
    });

    function locate_serialno_from_master(params)
    {
        $.ajax({
            url: urlSerialSearch,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            contentType: false,
            data: { serial: SerialNo, },
            success: function (response)
            {
                $('#id_consumersid').val(response[0][0]);
                $('#lblName').html(response[0][1]);
                $('#lblAddress').html(response[0][2]);
                $('#id_brand').val(response[0][4]);
                $('#id_brandid').val(response[0][5]);
                var names = response[0][1].split(",");
                var intials = names[0].charAt(0) + names[1].trim().charAt(0);
                var profileImage = $('#profileImage').text(intials);

            },
            error: function (e)
            {
                Swal.fire('Error!', e, 'warning');
                // Swal.fire('Not Found.', response, 'error')
            }
        });
    }

    function generate_average()
    {
        var seventypercent = ((Number($('#id_fl1').val()) + Number($('#id_fl2').val()) + Number($('#id_fl3').val())) / 3) * .7;
        var thirtypercent = ((Number($('#id_ll1').val()) + Number($('#id_ll2').val()) + Number($('#id_ll3').val())) / 3) * .3;
        var gen_average = (seventypercent + thirtypercent);
        $('#id_fullload_average').val(parseFloat(seventypercent).toFixed(2));
        $('#id_lightload_average').val(parseFloat(thirtypercent).toFixed(2));
        $('#id_gen_average').val(parseFloat(gen_average).toFixed(2));
    }


    function search_for_meter(params)
    {
        Swal.fire({
            text: 'Search for Meter Serial',
            content: "input",
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Search',
            showLoaderOnConfirm: true,
            preConfirm: (serial) =>
            {
                $.ajax({
                    url: urlSerialSearch,
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    contentType: false,
                    data: { serial: serial, },
                    success: function (response)
                    {
                        if (response == '')
                        {
                            Swal.fire("Record not found!", response, "error");
                        } else
                        {
                            $('#id_consumersid').val(response[0][0]);
                            $('#id_meterserialno').val(response[0][3]);
                            $('#lblName').html(response[0][1]);
                            $('#lblAddress').html(response[0][2]);
                            $('#id_brand').val(response[0][5]);
                            Swal.fire({
                                icon: 'success',
                                title: 'Record found!',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    },
                    error: function (respose)
                    {
                        Swal.fire('Not Found.', response, 'error')
                    }
                });
                // return fetch(urlSerialSearch.replace('0', serial))
                //     .then(response =>
                //     {
                //         if (!response.ok)
                //         {
                //             throw new Error(response.statusText)
                //         }
                //         return response.json()
                //     })
                //     .catch(error =>
                //     {
                //         Swal.showValidationMessage(
                //             `Request failed: ${ error }`
                //         )
                //     })
            },
            allowOutsideClick: () => !Swal.isLoading()
        });
    }

    function serialno_selected(params)
    {
        // var id = $('#id_idmeterserials').val();
        // Swal.fire(id, id, 'success');
        // $.ajax({
        //     url: "{% url 'consumer_search' %}",
        //     type: 'GET',
        //     dataType: 'json',
        //     contentType: 'application/json; charset=utf-8',
        //     contentType: false,
        //     data: { id: id, },
        //     success: function (data)
        //     {
        //         $('#lblAddress').html(data[0][2]);
        //     },
        //     error: function (e)
        //     {
        //         alert('err: selected_consumer');
        //     }
        // });
    }

    function save_meter_test(params)
    {


        // consumer_name = $('#lblName').html();
        // consumer_adress = $('#lblAddress').html();
        // meterdetailsid = $('#id_meterdetailsid').val();
        // testdate = $('#id_testdate').val();
        // gen_average = $('#id_gen_average').val();
        // fullload_average = $('#id_fullload_average').val();
        // lightload_average = $('#id_lightload_average').val();
        // fl1 = $('#id_fl1').val();
        // fl2 = $('#id_fl2').val();
        // fl3 = $('#id_fl3').val();
        // ll1 = $('#id_ll1').val();
        // ll2 = $('#id_ll2').val();
        // ll3 = $('#id_ll3').val();
        // reading = $('#id_reading').val();
        // type = $('#id_type').val();
        // phase = $('#id_phase').val();
        // kh = $('#id_kh').val();
        // ta = $('#id_ta').val();
        // remarks = $('#id_remarks').val();
        // isdamage = $('#id_isdamage').is(':checked');

        // $.ajax({
        //     type: 'POST',
        //     url: urlSaveTest,
        //     data: {
        //         consumer_name: consumer_name,
        //         consumer_adress: consumer_adress,
        //         meterdetailsid: meterdetailsid,
        //         testdate: testdate,
        //         gen_average: gen_average,
        //         fullload_average: fullload_average,
        //         lightload_average: lightload_average,
        //         fl1: fl1,
        //         fl2: fl2,
        //         fl3: fl3,
        //         ll1: ll1,
        //         ll2: ll2,
        //         ll3: ll3,
        //         reading: reading,
        //         type: type,
        //         phase: phase,
        //         kh: kh,
        //         ta: ta,
        //         remarks: remarks,
        //         isdamage: isdamage
        //     },
        //     context: this,
        //     success: function (data, status)
        //     {
        //         alert(data);
        //         //$('#meter-test-form').html(data);
        //     }
        // });
        // return false;

        // $.ajax({
        //     url: "{% url 'consumer_search' %}",
        //     type: 'GET',
        //     dataType: 'json',
        //     contentType: 'application/json; charset=utf-8',
        //     contentType: false,
        //     data: { id: id, },
        //     success: function (data)
        //     {
        //         $('#lblAddress').html(data[0][2]);
        //     },
        //     error: function (e)
        //     {
        //         alert('err: selected_consumer');
        //     }
        // });

        //  $.ajaxSetup({
        //     headers: { "X-CSRFToken": '{% csrf_token %}' }
        // });

        var frm = $('.meter-test-form');
        // var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
        // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $.ajax({
            url:  urlSaveTest.replace('0', SerialNo),
            type: 'POST',
            dataType: 'json',
            // contentType: 'application/json; charset=utf-8',
            contentType: false,
            // beforeSend: function (request)
            // {
            //     request.setRequestHeader("X-CSRF-TOKEN", "${_csrf.token}");
            // },
            // beforeSend: function (jqXHR, settings)
            // {
            //     jqXHR.setRequestHeader("x-csrftoken", get_the_csrf_token_from_cookie());
            // },
            data: frm.serialize(),
            success: function (data)
            {
                alert('data - ' + data);
            },
            error: function (e)
            {
                alert('e - '+ e);
            }
        });


    //     $.ajax({
    //         url: urlSaveTest,
    //         type: 'GET',
    //         data: frm.serialize(),
    //         // context: this,
    //         success: function (data, status)
    //         {
    //             alert(data);
    //         },
    //         error: function (data)
    //         {
    //             alert(data);
    //         }
    //     });

    }

</script>
{% endblock content %}