{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "base/header.html" %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 mr-2">
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-info dropdown-toggle lbl_status" data-toggle="dropdown"
                            style="height: 31px">
                            All Meter Test
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="selected_status(1)"> Passed Meter Test</a>
                            <a class="dropdown-item" href="#" onclick="selected_status(2)"> Failed Meter Test</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="selected_status(3)"> All Meter Test</a>
                        </div>
                        <button onclick="search_for_meter()" class="btn btn-info btn-sm mb-2 ml-1">
                            <i class="fal fa-plus mr-1"></i>
                            <span style="font-size: small">
                                New Test
                            </span>
                        </button>
                    </div>
                </div>
                <div class="ml-auto">
                    <div class="form-group row">

                        <p class="col-form-label col-form-label-sm">From </p>
                        <div class="col input-group nput-group-sm">
                            <input type="date" class="form-control form-control-sm" id="id_datefrom" name="datefrom"
                                data-mask value="{{ datetoday|date:'Y-m-01' }}">
                        </div>
                        <p class="col-form-label col-form-label-sm" style="text-align: right;">To</p>
                        <div class="col input-group input-group-sm">
                            <input type="date" class="form-control form-control-sm" id="id_dateto" name="dateto"
                                data-mask value="{{ datetoday|date:'Y-m-d' }}">
                        </div>
                        <button onclick="reload_metertest_history()" type="button"
                            class="btn btn-default btn-sm mr-2"><i class="fas fa-sync-alt"></i></button>

                        <button onclick="summary_report()" class="btn btn-info btn-sm mr-2">
                            <i class="fal fa-print"></i>
                            <span style="font-size: small">
                                Summary
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <table id="table-test-history"
                                class="table table-nowrap table-hover table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th data-sort-column="" class="leftmost">
                                            <input type="checkbox" id="select_all"><label
                                                for="select_all"><span></span></label>
                                        </th>
                                        <th style="width: 60px;">Action</th>
                                        <th>Date</th>
                                        <th>Findings</th>
                                        <th>Gen. Average</th>
                                        <th>Serial No.</th>
                                        <th>Consumer</th>
                                    </tr>
                                </thead>
                            </table>
                </section>
            </div>
        </section>
    </div>
</div>

<!-- <script src="{% static " js/alert.js" %}"></script> -->
<script type="text/javascript">

    let tablez;
    let lbl_status = ['Passed Meter Test', 'Failed Meter Test', 'All Meter Test'];

    // datatables
    let urlMeterTestDetails = "{% url 'metertest' %}";
    let urlSerialSearch = "{% url 'search_for_meter' %}";
    let urlNewMeterTest = "{% url 'new' 0 %}";
    let urlPrepareSummary = "{% url 'prepare_summary' %}";
    let status = 0

    function selected_status(params)
    {
        status = params
        $('.lbl_status').html(lbl_status[status]);
        $("#table-test-history").dataTable().fnDestroy();
        Load_serials_table(status);
    }

    function reload_metertest_history(params)
    {
        var date_from = $('#id_datefrom').val();
        var date_to = $('#id_dateto').val();
        $("#table-test-history").dataTable().fnDestroy();
        Load_serials_table(status, date_from, date_to);
    }

    // "searching": true,
    // "processing": true,
    // "stateSave": true,
    // "info": false,
    // "paging": true,
    // "lengthChange": true,
    // "autoWidth": false,
    // "responsive": true,

    function Load_serials_table(params, datefrom, dateto)
    {
        tablez = $('#table-test-history').DataTable({
            // "scrollX": true,
            "searching": true,
            "stateSave": true,
            "info": false,
            "paging": true,
            "lengthChange": true,
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                { "targets": [0], "searchable": false, "orderable": false, "visible": true, },
                { "targets": [4], "className": "text-right" }
            ],
            "keys": true,
            "keys": { "blurable": false },
            "select": true,
            "select": {
                'style': 'single',
                'selector': 'td:first-child'
            },
            "processing": true,
            "serverSide": true,
            "ajax": function (data, callback, settings)
            {
                var sort_column_name = data.columns[data.order[0].column].data.replace(/\./g, "__");
                var direction = "";
                if (data.order[0].dir == "desc") { direction = "-" };
                $.get(urlMeterTestDetails, {
                    status: params,
                    datefrom: datefrom,
                    dateto: dateto,
                    limit: data.length,
                    start: data.start,
                    filter: data.search.value,
                    order_by: direction + sort_column_name
                }, function (res)
                {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    });
                });
            },
            columns: [
                {
                    "data": "id", "render": function (data, type, row)
                    {
                        return '<td class="selected"><input type="checkbox" id="" value="20"><label for=""><span></span></label></td>'
                    }
                },
                {
                    "data": "id", "render": function (data, type, row)
                    {
                        return '<div class="input-group-prepend">' +
                            '  <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">Action </button>' +
                            '    <div class="dropdown-menu">' +
                            '      <a class="dropdown-item" href="#"><i class="fal fa-tags mr-1"></i> Edit</a>' +
                            '      <div class="dropdown-divider"></div>' +
                            '      <a class="dropdown-item" href="print_test/' + data + '" target = "_blank"><i class="fal fa-print mr-1"></i> Print Test Report</a>' +
                            '    </div>' +
                            '  </div >'
                    }
                },
                { "data": "testdate" },
                {
                    "data": "gen_average", "render": function (data, type, row)
                    {
                        if (data >= 98 && data <= 102)
                        {
                            return '<span style="color:green"> Passed</span>'
                        } else
                        {
                            return '<span style="color:red"> Failed</span>'
                        }
                    }
                },
                { "data": "gen_average" },
                { "data": "serialno" },
                { "data": "consumersid__consumer" },
            ]
        });
        tablez.column(0).visible(false);
    }

    window.onload = function ()
    {
        Load_serials_table(0);
        $('#table-test-history tbody').on('click', 'tr', function ()
        {
            if ($(this).hasClass('selected'))
            {
                $(this).removeClass('selected');
            }
            else
            {
                tablez.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    };

    function search_for_meter(params)
    {
        Swal.fire({
            text: 'Search for Meter Serial',
            content: "input",
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Search',
            showLoaderOnConfirm: true,
            preConfirm: (serial) =>
            {
                $.ajax({
                    url: urlSerialSearch, // get the route value
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    contentType: false,
                    data: { serial: serial, },
                    success: function (response)
                    {
                        if (response.msg == 'not found!')
                        {
                            Swal.fire("Record not found!", response, "error");
                        }
                        else
                        {
                            $('#id_idmeterserials').val(response[0][0]);
                            $('#id_meterserialno').val(response[0][3]);
                            $('#lblName').html(response[0][1]);
                            $('#lblAddress').html(response[0][2]);
                            $('#id_brand').val(response[0][6]);
                            window.open(urlNewMeterTest.replace('0', response[0][3]), "_blank");
                            Swal.fire(response[0][1], response[0][2], "success");
                        }
                    },
                    error: function (respose)
                    {
                        Swal.fire('Not Found.', response, 'error')
                    }
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        });
    }

    const inputOptions = new Promise((resolve) =>
        {
            // setTimeout(() =>
            // {
                resolve({
                    '1': 'All',
                    '2': 'Passed',
                    '3': 'Failed',
                    '4': 'Damage'
                })
            // }, 1000)
        })

    function summary_report(params)
    {

        var datefrom = $('#id_datefrom').val();
        var dateto = $('#id_dateto').val();

        Swal.fire({
            // title: 'Select Options',
            input: 'radio',
            text: "Please Select Option!",
            icon: 'info',
            inputOptions: inputOptions,
            confirmButtonText: 'Preview',
            showCancelButton: true,
            inputValidator: (value) =>
            {
                if (!value)
                {
                    return 'You need to choose something!'
                }
                else
                {
                    // Swal.fire({ html: `You selected: ${ value }` })
                    let x = 1;
                    if (value == 1) x = 3;
                    if (value == 2) x = 2;
                    if (value == 3) x = 1;
                    window.open(urlPrepareSummary + "?id=" + x + "&range=" + datefrom + "|" + dateto, "_blank");
                }
            }
        })





        // $.ajax({
        //     url: urlPrepareSummary, // get the route value
        //     type: 'GET',
        //     dataType: 'json',
        //     contentType: 'application/json; charset=utf-8',
        //     contentType: false,
        //     data: { status:status, datefrom:datefrom, dateto:dateto },
        //     success: function (response)
        //     {
        //         alert(response);
        //         window.open(urlPrepareSummary, "_self");
        //     },
        //     error: function (respose)
        //     {
        //         Swal.fire('Not Found.', response, 'error')
        //     }
        // });
    }



</script>


{% endblock content %}